{% extends "base.html" %}

{% block pagetitle %}bashoneliners.com{% endblock %}

{% block keywords %}bash, ksh, shell, script, one-liner, oneliner, tips, tricks, snippets, linux, unix, vote,
    open-source, django, python, git, github{% endblock %}

{% block description %}
Find the Bash one-liners, snippets, tips and tricks you need to automate your tasks, troubleshoot problems, and get more done.
Our one-liners and snippets are well-written, easy to understand,
and come with detailed explanations that make it easy to learn how they work.
Whether you're a beginner or an experienced user, you'll find something useful on our website.
Our snippets are written by experts who understand the Bash shell inside and out.
We take the time to explain every line of code, so you can be sure you're using the snippets correctly.
Whether you're looking for snippets to automate system administration tasks, file management tasks, networking tasks,
or programming tasks, we have what you need.
We're constantly adding new one-liners and snippets, so be sure to check back often.
Visit our website today and start using our high-quality Bash one-liners to make your life easier!
You can login with common social logins such as Google and GitHub and share your wisdom with a community of avid Bash enthusiasts.
This is an open-source project, built with love, Django, Python, jQuery, Git, GitHub, HTML5, Bootstrap from Twitter.
{% endblock %}

{% block pageheading %}
<h1>
    bashoneliners.com
    {% if SERVER_NAME != 'www.bashoneliners.com' %}
        <a href="https://bashoneliners.com/" class="btn btn-primary">go to prod</a>
    {% endif %}
    {% if SERVER_NAME != 'beta.bashoneliners.com' and user.is_superuser %}
        <a href="https://beta.bashoneliners.com/" class="btn btn-secondary">go to beta</a>
    {% endif %}
</h1>
{% endblock %}

{% block content %}

Welcome to bashoneliners.com,
a growing collection of practical and well-explained Bash one-liners, snippets, tips and tricks.
We review and improve every contributed one-liner to make sure it is of high quality:
useful, easy to read, follows best practices, with clear, detailed, accurate explanation.
These one-liners should help you automate tasks, troubleshoot problems, whether it be in system administration,
file management, networking or programming.

To get the latest Bash one-liners,
follow <a href="https://twitter.com/bashoneliners">@bashoneliners</a> on Twitter
or using the <a href="{% url 'feeds' %}">feeds</a>.

If you find any problems,
<a href="https://github.com/janosgyerik/bashoneliners/issues">please report on GitHub Issues</a>.

    {% include 'oneliners/elements/oneliners_tabs.html' %}

    {% include 'oneliners/elements/oneliners_page.html' %}

{% endblock %}

{% block ready %}
    var ordering = '{{ ordering }}';
    var selected_tag;

    function search_by_tag() {
        var options = {
            url: '{% url 'search_by_tag' %}',
            type: 'get',
            data: {
                'tag': selected_tag,
                'ordering': ordering
            },
            success: search_success
        };
        $.ajax(options);
    }

    function search_success(html) {
        $('.oneliners').html($(html).html());
        $('.pagination').remove();
        bind_upvote();
        //footer_fix();
        bind_dblclick_to_select_oneliner();
    }

    $('.tags a').click(function(e) {
        e.preventDefault();
        if ($(this).parent().hasClass('active')) {
            selected_tag = null;
            $(this).parent().removeClass('active');
            location.reload();
        } else {
            $('.tags li.active').removeClass('active');
            $(this).parent().addClass('active');
            selected_tag = $(this).text();
            search_by_tag();
        }
    });

    $('.nav-oneliners li a').click(function(e) {
        if (selected_tag) {
            e.preventDefault();
            $('.nav-oneliners li').removeClass('active');
            $(this).parent().addClass('active');
            ordering = $(this).attr('data-ordering');
            search_by_tag();
        }
    });

{% endblock %}
