{% extends "base.html" %}

{% block pagetitle %}bashoneliners.com{% endblock %}

{% block pageheader %}
    bashoneliners.com
    {% if SERVER_NAME != 'www.bashoneliners.com' %}
        <a href="http://bashoneliners.com/" class="btn btn-success pull-right">bashoneliners.com</a>
    {% endif %}
    {% if SERVER_NAME != 'beta.bashoneliners.com' and user.is_superuser %}
        <a href="http://beta.bashoneliners.com/" class="btn btn-info pull-right">Try the BETA site</a>
    {% endif %}
{% endblock %}

{% block keywords %}bash, ksh, shell, script, one-liner, oneliner, tips, tricks, snippets, linux, unix, vote,
    open-source, django, python, git, github{% endblock %}

{% block description %}A collection of practical and well-explained Bash one-liners and shell script tips, tricks,
    snippets for GNU Linux, UNIX or BSD systems. Post your clever one-liners, search, login using SSO or Open ID.
    Open-source project, using Django, Python, jQuery, Git, GitHub, HTML5, Bootstrap from Twitter.{% endblock %}

{% block content %}

    <div class="alert alert-block alert-info">
        We collect practical,
        well-explained Bash one-liners,
        and promote best practices in Bash shell scripting.
        To get the latest Bash one-liners,
        follow <a href="https://twitter.com/#!/bashoneliners">@bashoneliners</a> on Twitter.
        If you find any problems,
        <a href="https://github.com/janosgyerik/bashoneliners/issues">report a bug on GitHub</a>.
    </div>

    {% include 'oneliners/elements/warnings/relink.html' %}

<!--
    <h2>Tags</h2>

    <ul class="nav nav-pills tags">
        {% for tag in tagcloud %}
            <li><a href="#">{{ tag.text }}</a></li>
        {% endfor %}
    </ul>
    -->

    {% include 'oneliners/elements/oneliners_nav.html' %}

    {% include 'oneliners/elements/oneliners_page.html' %}

{% endblock %}

{% block ready %}
    var ordering = '{{ ordering }}';
    var selected_tag;

    function search_by_tag() {
    var options = {
    url: '{% url 'search_by_tag' %}',
    type: 'get',
    data: {
    'tag': selected_tag,
    'ordering': ordering
    },
    success: search_success
    };
    $.ajax(options);
    }

    function search_success(html) {
    $('.oneliners').html($(html).html());
    $('.pagination').remove();
    bind_upvote();
    //footer_fix();
    bind_dblclick_to_select_oneliner();
    }

    $('.tags a').click(function(e) {
    e.preventDefault();
    if ($(this).parent().hasClass('active')) {
    selected_tag = null;
    $(this).parent().removeClass('active');
    location.reload();
    } else {
    $('.tags li.active').removeClass('active');
    $(this).parent().addClass('active');
    selected_tag = $(this).text();
    search_by_tag();
    }
    });

    $('.nav-oneliners li a').click(function(e) {
    if (selected_tag) {
    e.preventDefault();
    $('.nav-oneliners li').removeClass('active');
    $(this).parent().addClass('active');
    ordering = $(this).attr('data-ordering');
    search_by_tag();
    }
    });

{% endblock %}
