{% extends "base.html" %}

{% block pagetitle %}Login{% endblock %}

{% block pageheader %}Login{% endblock %}

{% block content %}

    <div class="row">
        <form class="social-login-form form-horizontal">
            <div class="form-group col-sm-4">
                <p class="form-control-static">GitHub</p>
            </div>
            <div class="form-group col-sm-2">
                <a class="btn btn-primary" href="{% url 'social:begin' 'github' %}">GitHub</a>
            </div>
        </form>
    </div>

    <div class="row">
        <form class="social-login-form form-horizontal">
            <div class="form-group col-sm-4">
                <p class="form-control-static">Google OAuth2</p>
            </div>
            <div class="form-group col-sm-2">
                <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
            </div>
        </form>
    </div>

    <div class="row">
        <form class="social-login-form form-horizontal">
            <div class="form-group col-sm-4">
                <p class="form-control-static">Twitter</p>
            </div>
            <div class="form-group col-sm-2">
                <a class="btn btn-primary" href="{% url 'social:begin' 'twitter' %}">Twitter</a>
            </div>
        </form>
    </div>

{% endblock %}
