{% extends "base.html" %}

{% block pagetitle %}Mission statement{% endblock %}

{% block pageheader %}Mission statement{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

    <p>This "mission statement" is the foundation of our website project.</p>

    <dl class="mission">
        <dt>MISSION</dt>
        <dd>Create a website for building a collection of practical or just pure awesome bash one-liners or shell script
            tips and tricks with explanations for GNU Linux and similar systems. Open, collaborative system, user
            friendly, with functions to contribute one-liners, request one-liners, search, rss feed, commenting, Open ID
            login. Open-source project, using modern web technologies.
        </dd>

        <dt>OPPORTUNITIES</dt>
        <dd>Knowledge exchange between bash gurus, fresh ideas by new contributors, education of users new to GNU Linux,
            coffee break entertainment. Also: "XYZOneLiners" &mdash; clone systems for the same purpose but different
            focus subject, such as jQueryOneLiners, AndroidOneLiners, ImageMagickOneLiners, or even ArduinoTips and
            GardeningHacks.
        </dd>

        <dt>AREAS OF COLLABORATION</dt>
        <dd>Interface design, development, documentation, translations, testing.</dd>

        <dt>SKILLS REQUIRED</dt>
        <dd>Programming (web, mobile), web design, testing, translations, karma.</dd>

    </dl>

{% endblock %}
