{% extends "base.html" %}

{% block pagetitle %}bashoneliners.com{% endblock %}

{% block pageheader %}bashoneliners.com{% endblock %}

{% block keywords %}bash, ksh, shell, script, one-liner, oneliner, tips, tricks, linux, unix, vote, rank, rss, open-source, django, python, git, github, bazaar, launchpad, collaborate{% endblock %}

{% block description %}A collection of practical or just pure awesome bash one-liners or shell script tips and tricks for GNU Linux, UNIX or BSD systems. Open, collaborative system, user friendly, with functions to contribute one-liners, request one-liners, search, rss feed, commenting, Open ID login. Open-source project, using Django, Python, jQuery, Git, GitHub, Bazaar, Launchpad, HTML5, Bootstrap from Twitter.{% endblock %}

{% block content %}

<p>
Welcome to <strong>bashoneliners.com</strong>,
a collection of shell script tips and tricks on a single line
that can be very useful in
GNU/Linux, UNIX, BSD, and similar systems.
Post your cool bash one-liners to share with the world,
or search our database of existing one-liners contributed by others.
</p>

<p>
Shell scripting can be an ugly business.
It is easy to write quick and dirty hacks that only a few hardcore hackers understand.
Our goal is to gather nicely written,
clean, well-explained one-liners
that conform to today's best practices,
and do something useful in real life.
Or just pure awesome and wicked cool, that's ok too.
</p>

<p>
To get the latest bash one-liners, follow our <a href="{% url 'oneliners.feeds.oneliner' %}">rss feed</a>
or <a href="https://twitter.com/#!/bashoneliners">@bashoneliners</a> on Twitter.
If you discover bugs, you can either <a href="https://github.com/janosgyerik/bashoneliners/issues">report it on GitHub</a>,
or send an email to our <a href="mailto:bashoneliners@googlegroups.com">public mailing list</a>,
or send us a <a href="mailto:info@bashoneliners.com">private email</a>.
</p>

<div class="alert alert-block alert-info">
The site is still pretty far from what we want it to be.
Mainly we need more Django coders.
At the minimum it would be great help if you could spread the word and talk about this site on Twitter, Google+, Facebook, all your social outlets.
If you want to help with coding in Django,
please take a look at our <a href="{% url 'oneliners.views.sourcecode' %} ">Source code page</a>.
</div>

<h2>Tags</h2>

<ul class="nav nav-pills tags">
{% for tag in tagcloud %}
<li><a href="#">{{ tag.text }}</a></li>
{% endfor %}
</ul>

{% include 'oneliners/elements/oneliners_nav.html' %}

<h2 class="page-header">One-Liners
    {% if user.is_authenticated %}
    <a href="{% url 'oneliners.views.oneliner_new' %}" class="btn btn-primary pull-right">Post a one-liner</a>
    {% endif %}
</h2>

{% include 'oneliners/elements/oneliners_page.html' %}

{% endblock %}

{% block ready %}
    var ordering = '{{ ordering }}';
    var selected_tag;

    function search_by_tag() {
        var options = {
            url: '{% url 'oneliners.ajax.search_by_tag' %}',
            type: 'get',
            data: {
                'tag': selected_tag,
                'ordering': ordering
            },
            success: search_success
        };
        $.ajax(options);
    }

    function search_success(html) {
        $('.oneliners').html($(html).html());
        $('.pagination').remove();
        bind_comments_toggle();
        bind_upvote();
        //footer_fix();
        bind_dblclick_to_select_oneliner();
    }

    $('.tags a').click(function(e) {
        e.preventDefault();
        if ($(this).parent().hasClass('active')) {
            selected_tag = null;
            $(this).parent().removeClass('active');
            location.reload();
        } else {
            $('.tags li.active').removeClass('active');
            $(this).parent().addClass('active');
            selected_tag = $(this).text();
            search_by_tag();
        }
    });

    $('.nav-oneliners li a').click(function(e) {
        if (selected_tag) {
            e.preventDefault();
            $('.nav-oneliners li').removeClass('active');
            $(this).parent().addClass('active');
            ordering = $(this).attr('data-ordering');
            search_by_tag();
        }
    });

{% endblock %}
