{% extends "base.html" %}

{% block pagetitle %}{{ form.title }}{% endblock %}

{% block pageheading %}<h1>{{ form.title }}</h1>{% endblock %}

{% block content %}

    {% if oneliner %}
        <div class="alert alert-info related">
            <p>The new one-liner will be linked to the following one-liner as an alternative:</p>
            {% with boxed_oneliner=1 %}
                {% include 'oneliners/elements/oneliner.html' %}
            {% endwith %}
        </div>
    {% endif %}

    <p>Post a Bash one-liner that is useful and interesting, written in a way that follows best practices,
        with a clear, detailed, and accurate explanation.</p>

    {% include 'oneliners/elements/oneliner_edit_form.html' %}

{% endblock %}

{% block ready %}
    $('#id_summary').focus();
{% endblock %}
