{% extends "base.html" %}

{% block pagetitle %}Search{% endblock %}

{% block pageheading %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form action="#" method="get" id="search-form" role="form">
            <input type="hidden" name="is_advanced" value="1"/>

            <div class="row">
                <div class="col-md-9 py-2">
                    {% with field=searchform.query %}
                    <div class="form-outline">
                        {{ field }}
                        <label class="form-label" for="id_{{field.name}}">{{ field.label }}</label>
                    </div>
                    {% endwith %}
                </div>
                <div class="col-md-3 py-2">
                    <input type="submit" value="Search" class="btn btn-primary btn-block"/>
                </div>
            </div>

            <div class="row row-cols-lg-auto m-2">
                {% with field=searchform.match_whole_words %}
                    <div class="col form-check form-check-inline">
                        {{ field }}
                        <label class="form-check-label" for="id_{{field.name}}">{{ field.label }}</label>
                    </div>
                {% endwith %}
                {% with field=searchform.match_summary %}
                    <div class="col form-check form-check-inline">
                        {{ field }}
                        <label class="form-check-label" for="id_{{field.name}}">{{ field.label }}</label>
                    </div>
                {% endwith %}
                {% with field=searchform.match_line %}
                    <div class="col form-check form-check-inline">
                        {{ field }}
                        <label class="form-check-label" for="id_{{field.name}}">{{ field.label }}</label>
                    </div>
                {% endwith %}
                {% with field=searchform.match_explanation %}
                    <div class="col form-check form-check-inline">
                        {{ field }}
                        <label class="form-check-label" for="id_{{field.name}}">{{ field.label }}</label>
                    </div>
                {% endwith %}
                {% with field=searchform.match_limitations %}
                    <div class="col form-check form-check-inline">
                        {{ field }}
                        <label class="form-check-label" for="id_{{field.name}}">{{ field.label }}</label>
                    </div>
                {% endwith %}
            </div>
        </form>
    </div>
</div>

{% include 'oneliners/elements/oneliners_searchresults.html' %}

{% endblock %}

{% block ready %}
    var i18n_search_error = 'An error occurred during search.';

    function search_success(html) {
        $('.oneliners').html($(html).html());
    }

    function search_error(err) {
        $('#search-errors').text(i18n_search_error);
    }

    function search_completed() {
        $('#search-loading').empty();
    }

    $('#search-form').submit(function(e) {
        e.preventDefault();
        $('#search-loading').append($('#templates .search-loading').html());
        $('#search-errors').empty();

        var options = {
            url: '{% url 'search_by_keyword' %}',
            type: 'get',
            data: {
                'is_advanced': 'on',
                'match_whole_words': $('#id_match_whole_words:checked').val(),
                'match_summary': $('#id_match_summary:checked').val(),
                'match_line': $('#id_match_line:checked').val(),
                'match_explanation': $('#id_match_explanation:checked').val(),
                'match_limitations': $('#id_match_limitations:checked').val(),
                'query': $('#search-form #id_query').val()
            },
            success: search_success,
            error: search_error,
            complete: search_completed
        };

        $.ajax(options);
    });

    $('#search-form #id_query').focus();
{% endblock %}
