{% extends "base.html" %}

{% block pagetitle %}Source code{% endblock %}

{% block pageheader %}Source code{% endblock %}

{% block content %}

    <div class="alert alert-block alert-info">
        The site is far from what we want it to be.
        Mainly we need more Django developers.
        But also reviewers of the contributed one-liners, to improve or remove those that are sub-optimal.
        At the minimum it would help a lot if you could spread the word and talk about this site
        on Twitter, Google+, Facebook, Reddit or other social media.
    </div>

    <p>
        This page should give you all the links,
        resources and contact info that you might need to participate in this project.
        Do <a href="mailto:info@bashoneliners.com">let us know</a> if we missed something.
    </p>

    <p>Right now the site is still pretty far from what we want it to be. Our next bigger goals:</p>

    <ul>
        <li>
            <strong>Perfect one-liners following today's best-practices:</strong>
            Expert users should be able to edit and improve poorly written one-liners.
            The site needs peer-review and collaborative editing features,
            similar to <a href="http://stackoverflow.com/">stackoverflow.com</a>, but a bit differently.
            On Stack Overflow, answers do not collaborate with each other,
            and sometimes the accepted answer is not optimal.
            Sometimes the best answer would be a combination of multiple answers.
            Our goal here is to encourage users to optimize the heck out of every single one-liner until it is perfect.
        </li>
        <li>
            <strong>Gamification:</strong>
            Gamification features could be important to attract and motivate contributions.
            Designing the system is a very complex subject, it takes much more than just coding.
        </li>
    </ul>

    <p>To make all these things happen we need more Django coders,
        espeically with gamification experience.</p>

    <dl class="sourcecode">
        <dt>Get the source code -- {{ 'https://github.com/janosgyerik/bashoneliners'|urlize }}</dt>
        <dd>
            <pre>git clone https://github.com/janosgyerik/bashoneliners.git</pre>
        </dd>

        <dt>Task management, upcoming features, todo lists</dt>
        <dd>
            <a href="https://trello.com/b/PdQFoRDt/bash-one-liners">https://trello.com/b/PdQFoRDt/bash-one-liners</a>
        </dd>

        <dt>Issue tracking, bug reports</dt>
        <dd>
            <a href="https://github.com/janosgyerik/bashoneliners/issues">https://github.com/janosgyerik/bashoneliners/issues</a>
        </dd>

        <dt>Mailing list address</dt>
        <dd>
            <a href="mailto:bashoneliners@googlegroups.com">bashoneliners@googlegroups.com</a>

            <p><em>Messages you send here will be publicly visible.</em></p>
        </dd>

        <dt>Mailing list public archive</dt>
        <dd><a href="http://groups.google.com/group/bashoneliners/topics">http://groups.google.com/group/bashoneliners/topics</a>
        </dd>

        <dt>Private contact</dt>
        <dd><a href="mailto:info@bashoneliners.com">info@bashoneliners.com</a></dd>

    </dl>

{% endblock %}
