{% extends "base.html" %}

{% block pagetitle %}Code of Conduct{% endblock %}
{% block pageheading %}<h1>Code of Conduct</h1>{% endblock %}

{% block content %}

<p>Last updated: September 23, 2023</p>

<p>Our mission is to build libraries of high-quality questions and answers, and to
foster collaboration within a safe and welcoming community rooted in kindness,
cooperation and mutual respect.</p>

<p>Whether you’ve come to ask questions or to generously share what you know, join
us in building a community where all people feel welcome and can participate,
regardless of expertise or identity.</p>

<p>We commit to enforcing and improving the Code of Conduct. It applies to
everyone using the Network, including our team,
moderators, and anyone posting to Q&amp;A sites or chat rooms.</p>

<h2>Our expectations for users</h2>

<p>We have outlined below some expectations that are
generally true across the network; some sites may have stricter requirements or
use different policies for questions/answers/comments. Please adhere to
individual site policies where they differ from these expectations.</p>

<h3>Engaging with users</h3>

<p>No matter where you engage on the network with your peers,
we expect all users to treat one another with kindness and respect. Remember,
we’re all here to learn, and sometimes while learning, people make mistakes.
While comments and other actions may not be meant to be harmful, they can still
inadvertently end up causing harm. If you encounter something that you believe
is harmful, please flag it for moderator attention, and our moderators will
assess the situation.</p>

<h3>Asking</h3>

<p>Most people visit the the Network to get answers to their
questions. For the Community to be able to properly answer your question, there
is a minimum quality standard that applies to all new questions. Read more on
how to ask a good question.</p>

<h3>Answering</h3>

<p>The knowledge sharing of the Community is the platform's foundation.
To ensure the highest quality repository of information, we have adopted
quality standards that apply to all answers on our network. Read more on how to
write a good answer.</p>

<h3>Voting</h3>

<p>Our voting system is central to how the Network works. Votes are how
the Community signals great content and rewards its members for their
contributions. Improperly cast votes undermine the integrity of the platform.
Read more on how users are expected to use the voting system. Please see the
Unacceptable Behavior section below to find out more about improper voting
patterns.</p>

<h3>Curating content</h3>

<p>Content on the network is refined through the hard work of
community members, and is a vital step in our model. Community members curate
content through reviews and edits to keep questions and answers clear,
relevant, and up-to-date. Read more on how the community curates content.</p>

<h3>Commenting</h3>

<p>Comments are generally used in order to request clarification, leave
constructive criticism, or to add relevant but minor or transient information
to a post. They're largely regarded as potentially temporary and liberally
deleted when no longer needed. Read more on the purpose of comments and their
guidelines.</p>

<h2>Unacceptable Behavior</h2>

<p>We have outlined key forms of unacceptable behavior
across the entire platform:</p>

<h3>Abusive behavior</h3>

<p>We do not allow harassment nor any content that promotes,
encourages, glorifies, or threatens acts of violence. We also do not allow
causing or contributing to an atmosphere that excludes or marginalizes.
Curation activities such as voting (upvotes, downvotes, voting to close, etc)
are typically not abusive behaviors. Read more in our Abusive Behavior policy.</p>

<h3>Sensitive content and imagery</h3>

<p>We do not allow any content that promotes,
encourages, provides instruction for, or glorifies suicidal or self-injurious
behaviors. We also do not allow content that promotes, encourages, provides
instruction for, or glorifies harm or cruelty. Read more about our Sensitive
Content and Imagery policy. If you or someone else is in need of help, please
read more on how we treat situations where users are in crisis.</p>

<h3>Harmful political content</h3>

<p>We do not allow political content that encourages
harm to others or that supports, celebrates, or furthers the cause of violent
actors and hate organizations. We may, in some places, allow pointed or harsh
criticism of political figures, their policies, and governments (including
satirical statements) as long as they do not otherwise violate this Code of
Conduct. Read more in our Harmful Political Content policy.</p>

<h3>Misleading information</h3>

<p>We do not allow any content that promotes false,
harmful, or misleading information that carries the risk of harm to a person or
group of people. We also do not allow content that promotes false or misleading
information for the purpose of promoting the interests of a political party,
government, or ideology. Read more in our Misleading information policy.</p>

<h3>Disruptive use of tooling</h3>

<p>We do not allow any use of privileges in a targeted
and disruptive manner that causes harm to the community or compromises the
integrity of the content. Read more about our Disruptive Use policy.</p>

<h3>Inauthentic Usage</h3>

<p>We do not allow any use of the system that violates our
Acceptable Use policy or directly causes unnecessary and unwanted disruption
and/or harm to users and/or the network. Read more about our Inauthentic Usage
policy.</p>

<h2>Reporting</h2>

<p>Every person contributes to building a collaborative, respectful
community. If you find unacceptable behavior directed at yourself or others,
you can flag the harmful content. Moderators review flags regularly, and users
who don’t follow the Code of Conduct in good faith may face repercussions
deemed appropriate by our moderation team, including, but not limited to,
account suspensions.</p>

<p>All actions will be taken on a case-by-case basis at the discretion of our
moderators. If you’re not satisfied with a moderator decision, you are welcome
to appeal it by contacting us directly. We review each report individually and
will respond as quickly as we can.</p>

<h3>Contact us.</h3>

<p>We’ll respond as quickly as we can.</p>

<p><a class="btn btn-primary" href="mailto:info@janosgyerik.com">Contact us</a></p>

<h2>Site Policies</h2>

<p>This Code of Conduct is meant to work alongside individual site
policies. Sites and Chatrooms may choose more restrictive policies for their
content than what is allowed here, particularly around what is on-topic or
off-topic.</p>

<h2>Usernames and profiles</h2>

<p>While we encourage users to express themselves in their
profiles, all user profiles in their entirety are subject to the Code of
Conduct and all policies outlined or incorporated therein.</p>

{% endblock %}
