{% extends "base.html" %}

{% block pagetitle %}Terms of Service{% endblock %}
{% block pageheading %}<h1>Terms of Service</h1>{% endblock %}

{% block content %}

<p>Last updated: September 23, 2023</p>

<p>By using our products, you agree to our Terms of Service.</p>

<p>JanosGyerik.com (“Network”) is a set of related Internet sites and
    other applications, owned and operated by Janos Gyerik (“me” or “us”),
    a private individual, passionate programmer.</p>

<p>We welcome you, and invite you to participate in the community by
    sharing knowledge with your peers and colleagues. Like all
    communities, we ask that you participate in a manner that respects
    your fellow community members. To that end, we provide you with these
    terms of service to advise you of the legal obligations you assume
    when you engage with the community or otherwise access or use the
    public Network or any services provided on the public Network
    (collectively, “Services”). These terms govern the use of the public
    Network (the “Public Network Terms”).</p>

<p>To the extent you are accessing or using our other products on
    behalf of a Company or Team, including without limitation by
    registering for an account on behalf of a Company or Team, your use of
    those products is governed by their relevant Terms and Conditions.</p>

<h2>1. Public Network Terms</h2>

<p>Please read these Public Network Terms carefully before accessing
    or using the public Network. These Public Network Terms constitute an
    agreement between the Network and you and governs your permitted use
    of the public Network ONLY, including any Services or Products that
    are part of the public Network. By accessing or using the Services or
    the public Network in any manner, including without limitation by
    visiting or browsing the public Network or registering for an account
    on the Network, you affirm that you have read, understand, and agree
    to be bound by these Public Network Terms, as well as the Acceptable
    Use Policy and Privacy Policy. The Network reserves the right, at our
    discretion, to modify these Public Network Terms at any time by
    posting revised Public Network Terms on the public Network and by
    providing notice via e-mail, where possible, or on the public Network.
    You shall be responsible for reviewing and becoming familiar with any
    such modifications. Your access to or use of the Services or public
    Network following such modification constitutes your acceptance of the
    terms and conditions of these Public Network Terms as modified. To
    reiterate, and for clarity, these Public Network Terms apply to all
    who access or use the Services or public Network, including without
    limitation users who contribute content, information, and other
    materials or services, registered or otherwise.</p>

<p>PLEASE BE AWARE THAT BY USING THE PUBLIC NETWORK, EXCEPT FOR
    CERTAIN TYPES OF DISPUTES DESCRIBED IN THE SECTION TITLED “MANDATORY
    ARBITRATION” BELOW, YOU AGREE THAT ALL DISPUTES BETWEEN YOU AND US
    WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR
    RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS-WIDE
    ARBITRATION.</p>

<h2>2. Contracts are Binding and Legally Enforceable -- Please
    Read!</h2>

<p>As stated above, these Public Network Terms constitute an agreement
    between the Network and you and governs your use of the public
    Network. These Public Network Terms do NOT govern the use of our
    Talent, Enterprise and other products and services that are not part
    of the public Network. In the event of any conflict between the terms
    and conditions of these Public Network Terms and any such service or
    licensing agreements, the terms and conditions of the Public Network
    Terms shall prevail.</p>

<h2>3. Age Eligibility</h2>

<p>You must be at least 13 years old to access or use the Network or
    Services, including without limitation to complete an account
    registration. By accessing or using the Services or the Network in any
    manner, you represent and warrant that you are at least
    13 years of age. If you are under 13 years old, you may not, under any
    circumstances or for any reason, access or use the Services or
    Network in any manner, and may not provide any personal information
    to or on the Services or Network (including, for example, a name,
    address, telephone number or email address).</p>

<p>If you are located within the European Union, you must be at least
    16 years old to access or use the Network or Services, including
    without limitation to complete an Account Registration. By accessing
    or using the Services or the Network in any manner, you represent and
    warrant that you are at least 16 years of age. If you are under 16
    years old, you may not, under any circumstances or for any reason,
    access or use the Services or Network in any manner, and may not
    provide any personal information to or on the Services or Network
    (including, for example, a name, address, telephone number or email
    address).</p>

<h2>4. Access to the Public Network</h2>

<p>Any user of the public Network is welcome to participate in
    community discussions, to answer questions, and to share their hard
    earned knowledge with public Network community participants, provided
    that they comply with the obligations set forth in these Public
    Network Terms, and to the extent that use of the public Network does
    not conflict with the applicable laws, rules and regulations of the
    user’s jurisdiction. The Network reserves the right to refuse,
    suspend or terminate your access to the public Network if it
    determines, in its sole discretion, that you have in any way violated
    these Public Network Terms or are otherwise ineligible to access or
    use the Network or Services. If your actions are determined by us to
    violate these Public Network Terms, the Network may, in its sole
    discretion, try to remediate that violation by working with you
    individually, but is under no obligation to do so, and if any such
    remediation efforts are unsuccessful (in our sole discretion), then
    the Network may revoke your rights to the Network. You are solely
    responsible for ensuring that these Public Network Terms are in
    compliance with all laws, rules and regulations applicable to you, and
    the right to access the Network or any Services is revoked where these
    Public Network Terms or use of the Network or any Services is
    prohibited or conflicts with any applicable law, rule or
    regulation.</p>

<p>The Network will use reasonable efforts to make the public Network
    available 24/7/365, but from time-to-time we will have scheduled
    outages for maintenance purposes and other upkeep. Where feasible, we
    may, in our sole discretion, make efforts to inform you about any
    outages and report on the nature and reason for any outages that may
    occur in an open and transparent manner, though we are under no
    obligation to do so, and in any case will not be liable for any
    downtime.</p>

<h2>5. User Obligations</h2>

<p>To access some of the public Network features you will need to
    register for an account as an individual and consent to these Public
    Network Terms. If you do not consent to these Public Network Terms,
    the Network reserves the right to refuse, suspend or terminate your
    access to the public Network.</p>

<p>You are solely responsible for ensuring that your account
    registration is complete and remains up to date. You have the right to
    discontinue use of, or terminate, your account whenever you like, and
    subject to our Privacy Policy, control the use and sharing of your
    account information. Please note that any content or information you
    share publicly is governed by the terms described below in the section
    titled “Content Permissions, Restrictions, and Creative Commons
    Licensing,” and you should be aware that once you place content in the
    public sphere, you willingly give up some rights and control over such
    content.</p>

<p>The Network strongly encourages you to review our Privacy Policy,
    which explains how we will handle, process, and use your personal
    data, and with whom, and how we will share this data.</p>

<p>The Network is a community and we expect you to treat each member
    of the community with respect. Whether a community member is asking
    their first question, or is a reputation superstar, we respect you and
    welcome you, but we also require you to be kind to one another. To
    prevent bad actors from creating a negative community experience, we
    have outlined what we believe to be common sense rules for community
    participation and reserve the right to pause or terminate your account
    if you engage in disruptive, abusive, or nefarious behavior outside of
    The Network’s Acceptable Use Policy, which is hereby incorporated into
    these Public Network Terms.</p>

<p>You are solely responsible for obtaining and maintaining any
    equipment or ancillary services needed to connect to or access the
    Network or otherwise use the Services, including without limitation
    modems, hardware, software, and long distance or local telephone
    service. You are solely responsible for ensuring that such equipment
    or ancillary services are compatible with the Services and
    Network.</p>

<p>Some premium or additional features of The Network may require
    a payment obligation for access and use. You are solely responsible
    for ensuring that your payment obligations, if any, remain current and
    not in arrears. In the event the Network charges for features you will
    be clearly notified of the terms of any payment obligations and
    provided the opportunity to refuse such obligations before you incur
    any charges. Please note, however, that your refusal to accept payment
    obligations may result in your inability to access or use certain
    premium or additional features of the Network.</p>

<h2>6. Content Permissions, Restrictions, and Creative Commons
    Licensing</h2>

<h3>The Network Content</h3>

<p>All materials displayed or performed on the public Network,
    including but not limited to text, graphics, logos, tools,
    photographs, images, illustrations, software or source code, audio and
    video, and animations (collectively “Network Content”) (other than
    Network Content posted by individual “Subscriber Content”) are the
    property of the Network and/or third parties and are protected by
    international copyright laws (“The Network Content”).</p>

<p>The the Network API shall be used solely pursuant to the terms of
    the API Terms of Use.</p>

<p>All trademarks, service marks, and trade names are proprietary to
    the Network and/or third parties and use of the Network means you
    agree to abide by all copyright notices, information, and restrictions
    contained in any Network Content accessed through the Services.</p>

<p>The Network is protected by copyright as a collective work and/or
    compilation, pursuant to international covenants, and other copyright
    laws. Other than as expressly set forth in these Public Network Terms,
    you may not copy, modify, publish, transmit, upload, participate in
    the transfer or sale of, reproduce (except as provided in this
    Agreement), create derivative works based on, distribute, perform,
    display, or in any way exploit any of the Network Content, software,
    materials, or Services in whole or in part. You may download or copy
    the public Network Content, and other items displayed on the public
    Network for download or personal use provided that you maintain all
    copyright and other notices contained in such Public Content.</p>

<p>From time to time, the Network may make available compilations of
    all the Subscriber Content on the public Network (the “Creative
    Commons Data Dump”). The Creative Commons Data Dump is licensed under
    the CC BY-SA license. By downloading the Creative Commons Data Dump,
    you agree to be bound by the terms of that license.</p>

<p>Any other downloading, copying, or storing of any public Network
    Content (other than Subscriber Content or content made available via
    the Network API) for other than personal, noncommercial use is
    expressly prohibited without prior written permission from the Network
    or from the copyright holder identified in the copyright notice per
    the Creative Commons License. In the event you download software from
    the public Network (other than Subscriber Content or content made
    available by the the Network API) the software including any files,
    images incorporated in or generated by the software, the data
    accompanying the software (collectively, the “Software”) is licensed
    to you by the Network or third party licensors for your personal,
    noncommercial use, and no title to the Software shall transfer to you.
    The Network or third party licensors retain full and complete title to
    the Software and all intellectual property rights therein.</p>

<h3>Subscriber Content</h3>

<p>You agree that any and all content, including without limitation
    any and all text, graphics, logos, tools, photographs, images,
    illustrations, software or source code, audio and video, animations,
    and product feedback (collectively, “Content”) that you provide to the
    public Network (collectively, “Subscriber Content”), is perpetually
    and irrevocably licensed to the Network on a worldwide, royalty-free,
    non-exclusive basis pursuant to Creative Commons licensing terms
    (<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>),
    and you grant the Network the perpetual and irrevocable
    right and license to access, use, process, copy, distribute, export,
    display and to commercially exploit such Subscriber Content, even if
    such Subscriber Content has been contributed and subsequently removed
    by you as reasonably necessary to, for example (without
    limitation):</p>

<ul>
    <li>Provide, maintain, and update the public Network</li>
    <li>Process lawful requests from law enforcement agencies and
        government agencies
    </li>
    <li>Prevent and address security
        incidents and data security features, support features, and to
        provide technical assistance as it may be required
    </li>
    <li>Aggregate data to provide product optimization</li>
</ul>

<p>This means that you cannot revoke permission for the Network to
    publish, distribute, store and use such content and to allow others to
    have derivative rights to publish, distribute, store and use such
    content. The CC BY-SA 4.0 license terms are explained in further
    detail by Creative Commons, and the license terms applicable to
    content are explained in further detail here. You should be aware that
    all Public Content you contribute is available for public copy and
    redistribution, and all such Public Content must have appropriate
    attribution.</p>

<p>As stated above, by agreeing to these Public Network Terms you also
    agree to be bound by the terms and conditions of the Acceptable Use
    Policy incorporated herein, and hereby acknowledge and agree that any
    and all Public Content you provide to the public Network is governed
    by the Acceptable Use Policy.</p>

<h2>7. Disclaimer of Warranties</h2>

<p>TO THE MAXIMUM EXTENT ALLOWED BY LAW, THE NETWORK DISCLAIMS ALL
    WARRANTIES AND REPRESENTATIONS OF ANY KIND, INCLUDING WITHOUT
    LIMITATION THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
    A PARTICULAR PURPOSE, AND NONINFRINGEMENT, WHETHER EXPRESS, IMPLIED,
    OR STATUTORY. THE NETWORK PROVIDES NO GUARANTEES THAT THE SERVICES OR
    NETWORK WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS AND PROVIDES THE
    NETWORK, SERVICES, AND ANY RELATED CONTENT OR PRODUCTS SUBJECT TO
    THESE PUBLIC NETWORK TERMS ON AN “AS IS” BASIS.</p>

<h2>8. Indemnification</h2>

<p>You will indemnify and hold the Network, its directors, officers,
    employees, agents, consultant, contractors, partners, vendors and
    service providers (including, without limitation, hosting and
    telecommunications providers) harmless, including costs and attorneys’
    fees, from any claim or demand made by any third party due to or
    arising out of your access to the public Network, use of the Network
    products or services made available on the public Network, your
    violation of this Agreement, or your infringement or any third party
    using your account, of any intellectual property right.</p>

<h2>9. Limitation of Liability</h2>

<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE NETWORK AND ITS
    AFFILIATES SHALL NOT BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY,
    NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE
    NETWORK OR SERVICES (I) FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
    CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES,
    REPUTATION, PROFITS OR REVENUES, OR (II) FOR ANY DIRECT DAMAGES IN
    EXCESS OF ONE HUNDRED DOLLARS ($100) IN THE AGGREGATE, EVEN IF THE
    NETWORK OR ITS AFFILIATES HAVE BEEN TOLD OF THE POSSIBILITY OF SUCH
    DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.
    NOTHING IN THIS LIMITATION OF LIABILITY SHALL PREVENT THE NETWORK’S
    RIGHT TO SEEK AND OBTAIN EQUITABLE RELIEF. NOTWITHSTANDING SUCH RIGHT
    OF EQUITABLE RELIEF, TO THE EXTENT THAT APPLICABLE LAW DOES NOT PERMIT
    SUCH LIMITATION OF LIABILITY OR EXCLUSION OF LIABILITY, SUCH
    LIMITATION WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY LAW.</p>

<h2>10. General Provisions</h2>

<h3>a. Assignment and Jurisdiction</h3>

<p>The Network reserves the right to assign our rights and obligations
    under these Public Network Terms (in whole or in part) without your
    consent to a corporate affiliate, or in connection with a merger,
    acquisition, corporate restructure or reorganization, or due to the
    sale of all or substantially all of our assets.</p>

<p>These Public Network Terms will be governed by and construed in
    accordance with the applicable laws of the State of New York, without
    giving effect to the principles of that State regarding conflicts of
    laws. Both you and the Network hereby irrevocably agree to the sole
    and exclusive personal jurisdiction of the Courts of the State of New
    York with respect to any action, suit, or proceeding brought by it or
    against it by the other party in connection with the Network or
    Services. Notwithstanding the foregoing, these Public Network Terms
    shall not prevent either party from seeking injunctive relief with
    respect to a violation of the confidentiality provisions and
    indemnification provisions contained in these Public Network Terms.
    The Uniform Commercial Code shall not apply to the provisions of these
    Public Network Terms to the fullest extent permitted by law. No
    shrinkwrap or click-wrap terms contained in any purchase order or any
    Company or Team form shall apply to or supersede these Public Network
    Terms. In the event of any conflict between the terms and conditions
    of these Public Network Terms and any such shrinkwrap or click-wrap
    terms, the terms and conditions of the former shall prevail.</p>

<h3>b. Mandatory Arbitration</h3>

<p>YOU AGREE THAT WITH RESPECT TO ALL DISPUTES BETWEEN YOU AND THE
    NETWORK OR ITS AFFILIATES OR ITS OFFICERS, DIRECTORS, OR EMPLOYEES
    (WHETHER OR NOT SUCH DISPUTE INVOLVES A THIRD PARTY) WITH REGARD TO
    YOUR RELATIONSHIP WITH US, INCLUDING WITHOUT LIMITATION DISPUTES
    RELATING TO THESE PUBLIC NETWORK TERMS, YOUR USE OF THE NETWORK OR
    SERVICES, AND/OR RIGHTS OF PRIVACY AND/OR PUBLICITY, YOU AND THE
    NETWORK SHALL FIRST CONSULT WITH EACH OTHER TO ATTEMPT TO RESOLVE SUCH
    DISPUTE IN A MANNER SATISFACTORY TO BOTH PARTIES, AND THAT IF
    A RESOLUTION IS NOT REACHED WITHIN NINETY (90) DAYS, THEN THE DISPUTE
    SHALL BE REFERRED TO AND RESOLVED BY BINDING ARBITRATION UNDER JAMS,
    INC.’S RULES FOR ARBITRATION OF CONSUMER-RELATED DISPUTES AND YOU AND
    WE HEREBY EXPRESSLY WAIVE TRIAL BY JURY; PROVIDED, HOWEVER, THAT TO
    THE EXTENT THAT YOU HAVE IN ANY MANNER VIOLATED OR THREATENED TO
    VIOLATE OUR INTELLECTUAL PROPERTY RIGHTS, WE MAY SEEK INJUNCTIVE OR
    OTHER APPROPRIATE RELIEF IN ANY STATE OR FEDERAL COURT IN THE STATE OF
    NEW YORK. DISCOVERY AND RIGHTS TO APPEAL IN ARBITRATION ARE GENERALLY
    MORE LIMITED THAN IN A LAWSUIT, AND OTHER RIGHTS THAT YOU AND WE WOULD
    HAVE IN COURT MAY NOT BE AVAILABLE IN ARBITRATION.</p>

<p>As an alternative, you may bring your claim in your local “small
    claims” court, if permitted by that small claims court’s rules and if
    within such court’s jurisdiction, unless such action is transferred,
    removed or appealed to a different court. You may bring claims only on
    your own behalf. Neither you nor we will participate in a class action
    or class-wide arbitration for any claims covered by this agreement to
    arbitrate.</p>

<p>YOU ARE GIVING UP YOUR RIGHT TO PARTICIPATE AS A CLASS
    REPRESENTATIVE OR CLASS MEMBER ON ANY CLASS CLAIM YOU MAY HAVE AGAINST
    US INCLUDING ANY RIGHT TO CLASS ARBITRATION OR ANY CONSOLIDATION OF
    INDIVIDUAL ARBITRATIONS.</p>

<p>You also agree not to participate in claims brought in a private or
    representative capacity, or consolidated claims involving another
    person’s account, if we are a party to the proceeding. This dispute
    resolution provision will be governed by the Federal Arbitration Act
    and not by any state law concerning arbitration. In the event JAMS,
    INC. is unwilling or unable to set a hearing date within one hundred
    and sixty (160) days of filing the case, then either we or you can
    elect to have the arbitration administered instead by the American
    Arbitration Association. Judgment on the award rendered by the
    arbitrator may be entered in any court having competent jurisdiction.
    Any provision of applicable law notwithstanding, the arbitrator will
    not have authority to award damages, remedies or awards that conflict
    with these Public Network Terms. You agree that regardless of any
    statute or law to the contrary, any claim or cause of action arising
    out of, related to or connected with the use of the public Network or
    these Public Network Terms must be filed within one (1) year after
    such claim of action arose or be forever banned.</p>

<p>You agree that, notwithstanding anything in the foregoing, any
    arbitration proceeding between you and us will be conducted in New
    York, NY, USA, that the language of the arbitration shall be in
    English, and that all arbitration proceedings shall be considered
    confidential in nature.</p>

<p>If you don’t want to be bound by the arbitration and class-action
    waiver provisions in this section, you must notify us in writing
    within thirty (30) days of the date that you first accept these Public
    Network Terms (unless a longer period is required by applicable law),
    and then you must litigate any disputes against us in accordance with
    the “Assignment and Jurisdiction” section below. Your written
    notification must be emailed to us at legal@janosgyerik.com. If you
    do not notify us in accordance with this paragraph, you agree to be
    bound by the terms of this section, including, without limitation, the
    arbitration and class-action waiver provisions, and also including
    such provisions in any modifications we make to these Public Network
    Terms after the date of your first acceptance. Such notification must
    include: (i) your name; (ii) your email address and mailing address;
    and (iii) a statement that you do not wish to resolve disputes with us
    through arbitration or waive your ability to participate in a class
    action. If we make any changes to this section (other than a change to
    the address at which we will receive notices or rejections of future
    changes to this section), you may reject any such change by sending us
    written notice, within thirty (30) days of the change, to the address
    set out in the “Notices” section. It is not necessary to send us
    a rejection of a future change to this section if you had properly
    opted out within the first thirty (30) days after you first accepted
    the provisions in this section. If you have not properly opted out,
    then by rejecting a future change, you are agreeing that you will
    arbitrate any dispute between us in accordance with the language of
    this section, as modified by any changes you did not reject.
    A notification sent pursuant to this paragraph solely affects these
    Public Network Terms; if you previously entered into other arbitration
    or dispute resolution agreements with us or enter into other such
    agreements in the future, your notification that you are opting out of
    the provisions in this section shall not affect the other arbitration
    agreements between you and us.</p>

<h3>c. Survival</h3>

<p>The sections entitled “Public Network Terms”, “Contracts are
    Binding and Legally Enforceable – Please Read!”, “User Obligations”,
    “Content Permissions, Restrictions, and Creative Commons Licensing”,
    “Disclaimer of Warranties”, “Indemnification”, “Limitation of
    Liability”, “Assignment and Jurisdiction”, “Mandatory Arbitration”,
    “Survival”, “Merger and Severability”, “Notices”, “No Waiver”, and
    “Headings” shall survive any termination or expiration of these Public
    Network Terms.</p>

<h3>d. Modifications</h3>

<p>The Network reserves the right, in its sole discretion, to modify
    or replace these Public Network Terms, as our business evolves over
    time and to better provide Services and Products to the Network
    community, or to change, suspend, or discontinue the public Network
    and/or any Services or Products at any time by posting a notice on the
    public Network or by sending you notice via e-mail or by another
    appropriate means of electronic communication.</p>

<h3>e. Merger and Severability</h3>

<p>The parties to these Public Network Terms are independent
    contractors and these Public Network Terms shall not be construed to
    constitute any agency, partnership, joint venture, or employment
    relationship between you and the Network. These Public Network Terms
    represent the entire agreement between you and the Network and
    supersede all prior or contemporaneous oral or written communications,
    proposals, and representations with respect to the public Network or
    Services or Products contemplated hereunder. If any provision of these
    Public Network Terms is held to be invalid, void, unenforceable, or
    contrary to public policy, that provision will be limited or
    eliminated to the minimum extent necessary so that the remaining
    provisions of these Public Network Terms shall remain and continue in
    full force and effect.</p>

<h3>f. Notices</h3>

<p>Unless otherwise specified in these Public Network Terms, all
    notices under these Public Network Terms will be in writing and will
    be deemed to have been duly given when received, if personally
    delivered or sent by certified or registered mail, return receipt
    requested; when receipt is electronically confirmed, if transmitted by
    facsimile or e-mail; or the day after it is sent, if sent for next day
    delivery by recognized overnight delivery service. Electronic notices
    should be sent to legal@janosgyerik.com.</p>

<h3>g. No Waiver</h3>

<p>Our failure to enforce any part of these Public Network Terms shall
    not constitute a waiver of our right to later enforce that or any
    other part of these Public Network Terms. Waiver of compliance in any
    particular instance does not mean that we will waive compliance in the
    future. In order for any waiver of compliance with these Public
    Network Terms to be binding, we must provide you with written notice
    of such waiver through one of our authorized representatives.</p>

<h3>h. Headings</h3>

<p>The section and paragraph headings in these Public Network Terms
    are for convenience only and shall not affect their
    interpretation.</p>

<h2>11. Copyright policy</h2>

<p>The Network has adopted the following policy toward copyright
    infringement with respect to the Network in accordance with the
    Digital Millennium Copyright Act. The address of the Network's
    Designated Agent for copyright takedown notices is
    legal@janosgyerik.com.</p>

<p>Reporting Copyright Infringements If You believe that content
    residing or accessible on the Network infringes a copyright, please
    send a notice of copyright infringement containing the following
    information to the Designated Agent at the address below (all received
    notices will be posted in full to https://lumendatabase.org/):</p>

<ul>
    <li>Identification, including a description, of the copyrighted
        work or material You are claiming has been infringed. If You
        are claiming infringement of multiple works, you may provide
        a representative list.
    </li>
    <li>Identification of the material
        that is claimed to be infringing, including its location and URL,
        with sufficient detail so that the Network is capable of finding and
        verifying its existence.
    </li>
    <li>Contact information about the
        notifying party (the Notifying Party), including company name, name of
        contact person, mailing address, telephone number and e-mail
        address.
    </li>
    <li>A statement that the Notifying Party has a good
        faith belief that the material is not authorized by the copyright
        owner, its agent or law.
    </li>
    <li>A statement made under penalty of
        perjury that the information provided in the notice is accurate and
        that the Notifying Party is authorized to make the complaint on behalf
        of the copyright owner.
    </li>
    <li>The Notifying Party's physical or
        electronic signature.
    </li>
</ul>

<p>After the Designated Agent receives notification of an alleged
    infringement that meets all of the requirements above, the Network
    shall:</p>

<ul>
    <li>Disable access to or remove material that it has
        a reasonable, good faith belief is copyrighted material that
        has been illegally copied and distributed by any subscriber to
        the Network.
    </li>
    <li>The Network will then immediately notify
        the subscriber responsible for the allegedly infringing
        material (the Offending Subscriber) that it has removed or
        disabled access to the material.
    </li>
    <li>The Network reserves the
        right, at its discretion, to immediately terminate the account of
        any subscriber who is the subject of repeated takedown
        notices.
    </li>
</ul>

<h3>Filing Copyright Counterclaims</h3>

<p>A subscriber who believes they are the wrongful subject of
    a copyright takedown notice may file a counter notification with the
    Network by providing the following items in writing to the Designated
    Agent at the address below (all received notices will be posted in
    full to https://lumendatabase.org/):</p>

<ul>
    <li>Identification, including the specific URLs, of material that
        the Network has removed or to which the Network has disabled
        access.
    </li>
    <li>User’s name, address, telephone number, and
        email address.
    </li>
    <li>A statement that User consent to the
        jurisdiction of Federal District Court for the judicial district
        in which your address is located (or New York County, New York if
        your address is outside of the United States), and that User will
        accept service of process from the person who provided
        notification under subsection (c)(1)(C) or an agent of such
        person.
    </li>
    <li>The following statement: "I swear, under penalty
        of perjury, that I have a good faith belief that the material was
        removed or disabled as a result of a mistake or misidentification
        of the material to be removed or disabled." User’s physical or
        electronic signature.
    </li>
</ul>

<p>Upon receipt of a counterclaim, the Network will forward it to
    the party who submitted the original copyright infringement claim.
    The original complainant will then have 10 days to notify us that
    he or she has filed legal action relating to the allegedly
    infringing material. If the Network does not receive any such
    notification within 10 days, we may restore the material to the
    Network.</p>

{% endblock %}
