{% load markup %}

    <div class="oneliner well oneliner-{{oneliner.pk}}">
	<h3 class="summary">
	    <a href="{% url bashoneliners.main.views.oneliner oneliner.pk %}">{{ oneliner.summary|capfirst }}</a>
	    {% if user == oneliner.user %}
	    <a class="edit" href="{% url bashoneliners.main.views.oneliner_edit oneliner.pk %}">{% if not oneliner.is_published %}<span class="draft">(Not published!)</span>{% endif %}</a>
	    {% endif %}
	</h3>

	<pre><span class="add-on">bash$</span>{{ oneliner.line }}</pre>

	<p class="author"><small>
	&mdash; by <a href="{% url bashoneliners.main.views.profile oneliner.user.pk %}"><span>{{ oneliner.user.hackerprofile.display_name|default:oneliner.user.username }}</span></a>
	    on <span>{{ oneliner.created_dt }}</span>
	</small></p>

	{% if oneliner.explanation %}
	<div class="explanation">
	    <h4>Explanation</h4>
	    {{ oneliner.explanation|markdown:"safe" }}
	</div>
	{% endif %}

	{% if oneliner.limitations %}
	<div class="limitations">
	    <h4>Limitations</h4>
	    {{ oneliner.limitations|markdown:"safe" }}
	</div>
	{% endif %}

	{% if user != oneliner.user and not nobuttons %}
	<p><a href="{% url bashoneliners.main.views.oneliner_alternative oneliner.pk %}" class="btn">Post an alternative one-liner</a></p>
	{% endif %}

	{% block related %}
	{% endblock %}

	{% if user == question.user and not question.is_answered %}
	<p><a href="{% url bashoneliners.main.ajax.question_answered question.pk oneliner.pk %}" class="btn btn-primary question-answered" data-parent="question-{{ question.pk }}">Accept this answer</a></p>
	{% endif %}

    </div>
