{% if page.paginator.num_pages > 1 %}
<div class="pagination pagination-centered">
    <ul>
	<!--
	{% if page.has_previous %}
	<li><a href="?page={{ page.previous_page_number }}">&larr;</a></li>
	{% endif %}
	-->
	{% for num in page.paginator.page_range %}
	<li class="{% if num == page.number %}active{% endif %}"><a href="?page={{ num }}">{{ num }}</a></li>
	{% endfor %}
	<!--
	{% if page.has_next %}
	<li><a href="?page={{ page.next_page_number }}">&rarr;</a></li>
	{% endif %}
	-->
    </ul>
</div>
{% endif %}
