body {
    margin: 0px 20px;
    font-family: "UbuntuBeta Regular",Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: black;
    background-color: white;
    min-width: 800px;
}

#searchbox {
    margin: 10px 0 0 190px;
    float: left;
}

#nav a {
    color: #888;
    text-decoration: none;
    font-variant: small-caps;
    text-transform: uppercase;
}

#nav a.comingsoon {
    color: #ddd;
}

a img {
    border: 0px;
}

.hr {
    border-bottom: 2px solid black;
    margin: 1em;
}

#content {
    margin: 10px 190px;
}

#content h2 {
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
    margin-top: 1.5em;
}

#content .message {
    text-align: center;
}

.oneliners .expand-all-trigger, .oneliners .collapse-all-trigger {
    cursor: pointer;
    background: url(/media/images/plusminus.jpg) no-repeat;
    height: 17px;
    padding-left: 22px;
    padding-right: 1em;
    color: blue;
    display: block;
    float: right;
}
.oneliners .collapse-all-trigger {
    background-position: left bottom;
}

.oneliner {
    margin-bottom: 3em;
}

.oneliner pre {
    line-height: 1.3em;
    margin: 1em;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding: 1em;
    white-space: normal;
    font-family: "Courier New", Courier, monospace;

    background: #334;
    color: white;
    border: 2px inset #888;

    background: #ddd;
    color: black;
    border: 1px solid #aaa;
}

.oneliner pre .prompt {
    color: #253;
}

code {
    line-height: 1.3em;
    padding: 0 .5em;
    font-family: "Courier New", Courier, monospace;
    background: #ddf;
    border: 1px solid #aaf;
    font-weight: medium;
    color: blue;
}

.oneliners .oneliner .summary, 
.oneliners .oneliner .explanation, 
.oneliners .oneliner .limitations {
    margin: 1.5em;
}

.oneliners .oneliner .summary {
    margin: .5em;
    color: #253;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.oneliner .summary a {
    color: inherit;
    text-decoration: inherit;
}

.oneliner .details-trigger {
    cursor: pointer;
    background: url(/media/images/plusminus.jpg) no-repeat;
    height: 17px;
    padding-left: 22px;
    margin-left: 1em;
    color: blue;
}
.oneliner .details-trigger-active {
    background-position: left bottom;
}

.error {
    color: red;
}

form .oneliner .input {
    margin: .5em 2em;
}

form .oneliner .input ul {
    margin: 0;
    padding: 0;
}

form label {
    font-weight: bold;
    font-size: larger;
}

form .required {
    color: red;
    padding: 0 .5em;
}

form .hint {
    color: #888;
}

form .actions input {
    margin-right: 2em;
}

form ul {
    list-style: none;
}

form ul li {
    padding: 0;
    margin: 0;
}

form ul li label {
    font-weight: bold;
}

form ul li input {
    margin: 1em;
}

form dl dt {
    font-weight: bold;
}

p.author {
    text-align: right;
    font-style: italic;
    color: silver;
    margin: 0;
    margin-right: 1em;
}

.author a {
    color: silver;
}

.socialbtn {
    margin: 1em 0;
}

.warning {
    color: red;
}

.message {
    font-style: italic;
}

dl.mission dt {
    font-variant: small-caps;
    text-transform: uppercase;
}

input.openid {
    background: url(/openid/logo.gif) no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
}

#search-loading {
    text-align: center;
    margin: .5em 0;
}

.editable {
    background: url(/media/icons/edit.png) no-repeat;
    padding-left: 22px;
}

table.profile th {
    text-align: left;
    padding-right: 5em;
}


/* eof */
