/* Begin Various Tags */

    body {
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
    }

    acronym, abbr {
	cursor: help;
    }

    hr {
	display: none;
    }

    img {
	border: none;
	vertical-align: middle;
    }

    dt {
	font-weight: bold;
    }

/* End Various Tags */


/* Begin Images */

    img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
    }

    img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
    }

    img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
    }

/* End Images */


/* Begin Utility Classes */

    .floatleft {
	float: left;
	margin-right: 1em;
    }

    .floatright {
	float: right;
	margin-left: 1em;
    }

    .alignright {
	text-align: right;
    }

    .center {
	text-align: center;
    }

    .clear {
	clear: both;
    }

    .hidden {
	display: none;
    }
	    
    .invisible {
	visibility: hidden;
    }
	    
    .screen-reader-text {
	position: absolute;
	left: -1000em;
    }

    .validators {
	text-align: right;
    }
    .validators a {
	margin-left: .5em;
    }

/* End Utility Classes */


body {
    padding-top: 40px; /* Twitter bootstrap */
}

.oneliner pre {
    background: #ddd;
}
.oneliner pre .add-on {
    color: #253;
    padding-right: .5em;
    font-weight: bold;
}

.summary {
    color: inherit;
}

.summary a {
    color: inherit;
}

.summary a:hover {
    text-decoration: inherit;
}

.edit {
    padding: 0 12px;
    background: url(/media/icons/edit.png) no-repeat center;
}

form .required {
    color: red;
    padding: 0 .5em;
}

form .input .error ul {
    list-style: none;
    margin-left: 0;
}

form .input .error ul li {
    color: red;
}

.form-actions input {
    margin-right: 2em;
}

input.openid {
    background: url(/openid/logo.gif) no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
}

#openid-form input[type="radio"] {
    float: none;
}

form .profile label {
    font-weight: bold;
}

table.profile {
    width: auto;
}

.related .well {
    background: #dff0d8;
}
.related .well .summary {
    color: #468847;
}

.related .well.comments {
    background: #eee;
}

.comments-toggle {
    cursor: pointer;
}
.comments-toggle img {
    background: url(/media/images/arrows.png) no-repeat center;
    background-position: 0px -51px;
    padding: 0px 12px;
    height: 17px;
}
.comments-toggle.expanded img {
    background-position: 0px -34px;
}
.comments {
    display: none;
}

.footer {
    background-color: #eee;
}

table.help {
    width: inherit;
}

a.help {
    cursor: help;
}

dl.sourcecode dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

dl.mission dt {
    font-variant: small-caps;
    text-transform: uppercase;
}

dl.mission dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

/* overriding bootstrap */

pre code {
    border: 0;
}


/* eof */
