/* Begin Various Tags */

    body {
	color: black;
	margin: 0;
	padding: 0;
	border: 0;
    }

    acronym, abbr {
	cursor: help;
    }

    hr {
	display: none;
    }

    img {
	border: none;
	vertical-align: middle;
    }

    dt {
	font-weight: bold;
    }

/* End Various Tags */


/* Begin Images */

    img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
    }

    img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
    }

    img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
    }

/* End Images */


/* Begin Utility Classes */

    .floatleft {
	float: left;
	margin-right: 1em;
    }

    .floatright {
	float: right;
	margin-left: 1em;
    }

    .alignright {
	text-align: right;
    }

    .center {
	text-align: center;
    }

    .clear {
	clear: both;
    }

    .hidden {
	display: none;
    }
	    
    .invisible {
	visibility: hidden;
    }
	    
    .screen-reader-text {
	position: absolute;
	left: -1000em;
    }

    .validators {
	text-align: right;
    }
    .validators a {
	margin-left: .5em;
    }

/* End Utility Classes */


body {
    padding-top: 40px; /* Twitter bootstrap */
}

#content {
    margin: 10px 190px;
}

.oneliner {
    margin-bottom: 3em;
}

.oneliner pre {
    line-height: 1.3em;
    margin: 1em;
    margin-top: 0.3em;
    margin-bottom: 0;
    padding: 1em;
    white-space: normal;
    font-family: "Courier New", Courier, monospace;

    background: #ddd;
    color: black;
}

.oneliner pre .prompt {
    color: #253;
}

code {
    line-height: 1.3em;
    padding: 0 .5em;
    font-family: "Courier New", Courier, monospace;
    background: #ddf;
    border: 1px solid #aaf;
    font-weight: medium;
    color: blue;
}

.questions .question .summary, 
.oneliners .oneliner .summary, 
.oneliners .oneliner .explanation, 
.oneliners .oneliner .limitations {
    margin: 1.5em;
}

.oneliners .oneliner .author {
    margin: .5em 1.5em;
    text-align: right;
}

.questions .question .summary,
.oneliners .oneliner .summary {
    margin: .5em;
    color: #253;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.questions .question .summary a,
.oneliners .oneliner .summary a {
    color: inherit;
    text-decoration: inherit;
}

.questions .question .summary .draft,
.oneliner .summary .draft {
    color: red;
}

form .required {
    color: red;
    padding: 0 .5em;
}

form .hint {
    color: #888;
}

.socialbtn {
    margin: 1em 0;
}

dl.mission dt {
    font-variant: small-caps;
    text-transform: uppercase;
}

dl.mission dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

dl.sourcecode dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

input.openid {
    background: url(/openid/logo.gif) no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
}

.editable {
    background: url(/media/icons/edit.png) no-repeat;
    background-position: left center;
    padding-left: 22px;
}

#openid-form input[type="radio"] {
    float: none;
}

.footer {
    background-color: #eee;
}

form .profile .input,
form .oneliner .input,
form .question .input {
    margin: .5em 2em;
}

form .actions input {
    margin-right: 2em;
}

form .input ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

form .input .error ul li {
    color: red;
}

table.profile {
    float: right;
    width: inherit;
}

.alert-message h3.summary a {
    font-weight: normal;
}

.alert-message.compact blockquote {
    margin-bottom: 0;
}

.question .alert-message {
    margin-top: 1em;
}


/* eof */
