/*
 * File: layout.css
 * Purpose: define the site layout
 *
 * */

div {
    margin: 0;
    padding: 0;
    border: 0;
}

div.bodybg-lite {
    background: #5f5f5f;
}

div.bodybg, body {
    background: #666666 url('../images/bodybg.jpg') top center repeat-x;
}

div.sectionbg {
    clear: both;
    margin: 0 100px 10px 100px;
}

div.section {
}

div.sectiontopbg {
    margin-top: 15px;
    height: 13px;
    background: url('../images/bgtopwhiteleft.gif') left top no-repeat;
}

div.sectiontopbase {
    height: 13px;
    background: url('../images/bgtopwhiteright.gif') right top no-repeat;
}

div.sectiontop {
    height: 13px;
    background: #fff;
    margin: 0 20px;
}

div.sectionbottombg {
    height: 13px;
    background: url('../images/bgbottomwhiteleft.gif') left bottom no-repeat;
}

div.sectionbottombase {
    height: 13px;
    background: url('../images/bgbottomwhiteright.gif') right bottom no-repeat;
}

div.sectionbottom {
    height: 13px;
    background: #fff;
    margin: 0 20px;
}

div.contentbg {
}

div.contentbase {
}

div.content {
}

#header h1 {
    margin: .5em 0 0 0;
    font-size: 36px;
    color: #fff;
}

#header h1 a {
    text-decoration: none;
    color: #fff;
}

#header h1 a:hover {
    color: #4C82A6;
    text-decoration: none;
}

#header h2 {
    margin: 0;
    font-size: 18px;
    color: #4C82A6;
}

#main div.sectiontopbg {
    background-image: none;
}

#main div.sectiontop {
    margin-left: 0;
}

#footer div.sectiontopbg {
    background-image: url('../images/bgtopblackleft.gif');
}

#footer div.sectiontopbase {
    background-image: url('../images/bgtopblackright.gif');
}

#footer div.sectiontop {
    background: #000;
}

#footer div.content {
    background: #000;
    padding: 0;
    color: white;
    font-size: 10pt;
}

#footer div.sectionbottombg {
    background-image: url('../images/bgbottomblackleft.gif');
}

#footer div.sectionbottombase {
    background-image: url('../images/bgbottomblackright.gif');
}

#footer div.sectionbottom {
    background: #000;
}

#footer div.section {
    padding-bottom: 1em;
}

/* eof */
