/* 
 * File: nav.css
 * Purpose: define the style of various navigation items
 *
 * */

div.content .icon {
}
div.content .icon a {
    text-decoration: none;
    color: #00f;
    font-weight: normal;
}
div.content .icon a:hover {
    color: green;
}
div.content .icon img {
    vertical-align: middle;
    margin-right: 5px;
}
div.content .icon span {
    text-decoration: none;
}

div.content dl {
    margin-top: .5em;
}
div.content dt {
    font-weight: bold;
}
div.content dd {
    margin-left: 2em;
}
div.content dl.fancy1 dt {
    background: url('../icons/bullet1.png') no-repeat left center;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
div.content dl.fancy1 dt a {
    background: none;
    padding-left: 0;
    font-weight: normal;
}

div.content a.nav {
    text-decoration: none;
    color: #00f;
}
div.content a.nav:hover {
    color: green;
}

a.fancy[href^="http://"], a.fancy[href^="https://"] {
    background: url('../icons/link.png') no-repeat left center;
    padding-left: 15px;
}

a.fancy[href^="mailto:"] {
    background: url('../icons/mail.png') no-repeat left center;
    padding-left: 15px;
}

#nav {	
    text-align: right;
    margin: 1em;
}

#nav a span {
    padding: .4em;
    border: 1px solid transparent;
    line-height: 2.1em;
}

#nav a:hover span {
    border: 1px solid #aaa;
}

/* eof */
