/*
 * File: titan2x.css
 * Purpose: the general good conventions are customized here
 *
 * */

/* Begin div.content */

    div.content {
	clear: both;
	padding: 0em 1em 1em 1em;
	background-color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	font-size: 10pt;
    }

    div.content h1 {
	margin: 0;
	margin-bottom: .5em;
	border-bottom: 1px solid #888;
	font-size: 150%;
	color: black;
    }

    div.content h2 {
	margin: 0;
	margin-top: .4em;
	margin-bottom: .4em;
	border-bottom: 1px solid #aaa;
	font-size: 135%;
	color: black;
    }

    div.content h3 {
	margin: 0;
	margin-top: .3em;
	margin-bottom: .3em;
	border-bottom: 1px solid #ccc;
	font-size: 120%;
	color: black;
    }

    div.content li {
	padding: .2em;
    }

    div.content dt {
	font-weight: bold;
    }

    div.content dt a {
	color: #060;
    }

    div.content dt a:hover {
	color: #0c0;
    }

    div.content dd {
	margin-bottom: .5em;
    }

    div.content pre {
	background-color: #bbe;
	border: 1px dashed #88f;
	white-space: pre;
	font-family: monospace;
	color: #444;
	font-size: inherit;
	padding: .5em;
    }

    div.content .verbatim {
	font-family: monospace;
    }

    div.content .lastupdated {
	text-align: right;
	font-size: smaller;
	margin: 0;
	margin-top: 1em;
	font-family: monospace;
    }

    div.content .timestamp {
	font-family: monospace;
    }

    div.content .todo {
	color: #aaa;
    }

    div.content .cmd {
	color: #800;
	font-weight: bold;
	font-style: italic;
    }

    div.content .quote {
	font-style: italic;
	color: #248;
    }

    div.content p.validators {
	text-align: right;
    }
    
    div.content dl.repos dt.repo {
	background: url('../icons/repo.png') no-repeat left center;
	padding-left: 20px;
	text-decoration: none;
	font-weight: bold;
    }

    div.content dl.repos dt.folder {
	background: url('../icons/folder.png') no-repeat left center;
	padding-left: 20px;
	text-decoration: none;
	font-weight: bold;
    }

    div.content dl.repos .status {
	font-size: smaller;
	color: #777;
	text-transform: lowercase;
	text-transform: small-caps;
    }

    div.content dl.repos p {
	margin: .3em 0;
    }

    div.content table.repoinfo th {
	text-align: right;
	padding-right: 1em;
    }

/* End div.content */


/* Begin wp-studiopress */

    a {
	color: #215679;
    }

    a:hover {
	color: #4C82A6;
    }

    blockquote {
	margin: 5px 15px;
	padding: 5px 5px;
	background: #8CB5D8;
	border: 1px solid #3A7CAC;
    }

    code {
	color: #36C;
    }


/* Search box */

    #searchform {
	margin: 0 0 0 auto;
	width: 213px;
	height: 28px;
	background: #ccc;
	background: url('../images/search.gif') left 3px no-repeat;
    }

    #searchform .searchtext {
	border: none;
	background: none;
	width: 150px;
	padding: 2px;
	font-size: small;
	margin: 6px 0 3px 3px;
    }

    #searchform .searchbutton {
	width: 50px;
	background: none;
	border: none;
    }

    #searchform .searchbutton:hover {
	cursor: pointer;
    }


/* navbar */

    #navbar {
	margin: 10px 0 -15px 0;
	overflow: hidden;
    }

    #navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
    }

    #navbar ul li {
	float: left;
	margin-right: 10px;
    }

    /* Filter for IE6 to prevent li stacking */
    * html #navbar li a { 
	float: left;
	text-decoration: none;
    }

    /* Filter for IE6 to prevent li stacking */
    * html #navbar li a span { 
	float: left;
	text-decoration: none;
    }

    #navbar ul li a {
	display: block;
	height: 26px;
	background: url('../images/bgtableft.gif') left top no-repeat;
	font-size: 10pt;
	text-decoration: none;
    }

    #navbar ul li a span {
	display: block;
	line-height: 26px;
	margin-left: 6px;
	padding-left: 5px;
	padding-right: 12px;
	font-weight: bold;
	color: #fff;
	background: url('../images/bgtabright.gif') right top no-repeat;
	text-decoration: none;
    }

    #navbar ul li a:hover {
	background-position: left -26px;
	text-decoration: none;
	cursor: pointer; /* For IE6 */
    }

    #navbar ul li a:hover span {
	background-position: right -26px;
	color: #000;
    }

    #navbar ul li.current a {
	background-position: left -26px;
    }

    #navbar ul li.current a span {
	background-position: right -26px;
	color: #000;
    }

    #navbar ul ul {
	visibility: hidden;
	position: absolute;
    }

    #navbar ul li:hover ul {
	visibility: visible;
    }

    #navbar ul li li {
	float: none;
	display: block;
    }

    #navbar ul li li a {
	background: url('../images/bgtabright.gif') left top no-repeat;
    }

    #navbar ul li li a span {
	background: none;
    }

    #navbar ul li.current li a {
	background-position: left 0px;
    }

    #navbar ul li.current li a span {
	color: #fff;
    }

    #navbar ul li.current li a:hover {
	background-position: left -26px;
    }

    #navbar ul li.current li a:hover span {
	color: #000;
    }

    #navbar ul li.admin a span {
	color: black;
    }


/* Footer */

    #footer p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #fff;
	text-align: center;
    }

    #footer a {
	color: #87BBD9;
    }

    #footer a:hover {
	color: #fff;
    }


/* End wp-studiopress */

