# Django settings for bashoneliners project.

from bashoneliners.settings import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Bash One-Liners DEV', 'noreply@bashoneliners.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'ENGINE': 'django.db.backends.sqlite3',
        # path to database file if using sqlite3.
        'NAME': 'sqlite3.db',
        # Not used with sqlite3.
        'USER': '',
        # Not used with sqlite3.
        'PASSWORD': '',
        # Set to empty string for localhost. Not used with sqlite3.
        'HOST': '',
        # Set to empty string for default. Not used with sqlite3.
        'PORT': '',
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = '__regenerate_this__'

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['127.0.0.1']

AUTHENTICATION_BACKENDS = ['django.contrib.auth.backends.ModelBackend']

FLAGS = {
    'DEPLOYMENT_LINKS': [{'condition': 'boolean', 'value': True}],
    'LOGIN': [{'condition': 'boolean', 'value': True}],
    'ONELINERS_TABS': [{'condition': 'boolean', 'value': True}],
    'SEARCH': [{'condition': 'boolean', 'value': True}],
    'CATEGORIES_FILTER': [{'condition': 'boolean', 'value': True}],
    'COMMANDS_FILTER': [{'condition': 'boolean', 'value': True}],
}

# 1. Login to Twitter
# 2. Go to https://dev.twitter.com/apps/new and fill the form
#    - Application Type should be Client
#    - Default Access Type must be Read and Write
# 3. Consumer key and secret are here: https://dev.twitter.com/apps
# 4. Access token and secret are in the My Access Token menu
#
TWITTER = {
    'consumer_key': '',
    'consumer_secret': '',
    'access_token': '',
    'access_token_secret': '',
}
