{% extends "base.html" %}

{% load i18n %}

{% block pagetitle %}{% trans 'Create account' %}{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    <div>
	{% if form.errors %}
	    <p class="error">
	    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
	    </p>
	{% endif %}

	<div class="non-field-errors">{{ form.non_field_errors }}</div>
	
	<dl>
	    {% for field in form %}
	    <dt>{{ field.label_tag }}</dt>
	    <dd>
	    <div class="error">{{ field.errors }}</div>
	    <div>
		{{ field }}
	    </div>
	    </dd>
	    {% endfor %}
	</dl>

	<p><input type="submit" value="Create account" /></p>
    </div>
</form>

{% endblock %}
