{% load markup %}
{% with oneliner=obj %}
    <pre>{{ oneliner.line }}</pre>

    <p>
        <small>
            &mdash; by {{ oneliner.user.hackerprofile.get_display_name }}
            on {{ oneliner.created_dt }}
        </small>
    </p>

    <div class="explanation">
        <h4>Explanation</h4>
        {{ oneliner.explanation | markdown:"safe" | linebreaks }}
    </div>

    {% if oneliner.limitations %}
        <div class="limitations">
            <h4>Limitations</h4>
            {{ oneliner.limitations | markdown:"safe" | linebreaks }}
        </div>
    {% endif %}
{% endwith %}
