{% extends "base.html" %}

{% block pagetitle %}{{ form.title }}{% endblock %}

{% block pageheader %}{{ form.title }}{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<ul>
    <li>After you post a question, it will be listed on the <a href="{% url bashoneliners.main.views.wishlist %}">Questions</a> page, and other users can suggest (possibly many) one-liners that answer it.</li>
    <li>You will receive an email when someone suggests an answer. <em>(coming soon)</em></li>
    <li>You can track your questions on your <a href="{% url bashoneliners.main.views.profile %}">profile</a> page, and mark them <strong>Answered</strong> so they no longer appear in the list of questions. <em>(coming soon)</em></li>
</ul>

{% include 'main/edit-question-form.html' %}

{% endblock content %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
