{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}bashoneliners.com{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<p>
O hi, we aim to collect here <strong>*good*</strong> bash/ksh oneliners.
We are in a very very early stage of development but we will progress rapidly.
</p>

<h3>Features in the making</h3>

<ul>
    <li>Create account, login. Members will be able to post oneliners.</li>
    <li>Vote on a oneliner. Members will be able to vote up or down a oneliner.</li>
    <li>Comment on a oneliner. Members will be able to comment on oneliners and make suggestions.</li>
</ul>

<p>If you would like to participate in the development or if you would like an early member access to contribute oneliners, please let us know!</p>

<h2>latest 50</h2>

{% for oneliner in oneliners %}
<div class="oneliner">
    <pre>{% for line in oneliner.lines %}$ {{ line }}<br/>{% endfor %}</pre>

    <div class="summary">
	{{ oneliner.summary }}
    </div>

    <div class="explanation">
	{{ oneliner.explanation|nst|safe }}
    </div>

    <div class="eof">EOF</div>
</div>
{% endfor %}

{% endblock %}
