{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}bashoneliners.com{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<p>Welcome to <strong>bashoneliners.com</strong>, a place to share Bash/ksh one-liners with the world.</p>
<p>We are in a very very early stage of development but we intend to complete the site very soon.</p>


<h3>Features in the making</h3>

<ul>
    <li><strike>Create account, login. Members will be able to post one-liners.</strike>
    <ul>
	<li>Improve the ugly interface.</li>
	<li>Profile page for logged in members with list of own posts and other goodies.</li>
    </ul>
    </li>
    <li>Vote on a one-liner. Members will be able to vote up or down a one-liner.</li>
    <li>Comment on a one-liner. Members will be able to comment on one-liners and make suggestions.</li>
</ul>

<p>If you would like to participate in the development please let us know!</p>

<h2>latest 50</h2>

{% include 'main/oneliners.html' %}

{% endblock %}
