{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}bashoneliners.com{% endblock %}

{% block keywords %}bash, ksh, shell, script, one-liner, oneliner, tips, tricks, linux, unix, vote, rank, rss, open-source, django, python, bazaar, launchpad, collaborate{% endblock %}

{% block description %}A collection of practical or just pure awesome(!) bash or ksh one-liners or tips, with easy to use user interfaces for browsing, searching and contributing one-liners. {% endblock %}

{% block content %}

<p>Welcome to <strong>bashoneliners.com</strong>, a place for practical, clever, or interesting Bash/Ksh <em>one-liners</em>, tips, short script snippets. 
You can post your own one-liner and share with the world!
Also, this is an open-source project,
if you would like to participate check out our <a href="{% url bashoneliners.main.views.mission %}">mission statement</a> 
and <a href="{% url bashoneliners.main.views.sourcecode %}">source code</a> pages!
</p>

<p>In addition to <a href="{% url bashoneliners.urls.feed %}">RSS</a>, you can follow new one-liner posts on twitter: <a href="https://twitter.com/#!/bashoneliners">@bashoneliners</a>.</p>

<h2>latest 50</h2>

{% include 'main/oneliners.html' %}

{% endblock %}
