{% extends "base.html" %}

{% block pagetitle %}Login{% endblock %}

{% block content %}

<p>Choose an OpenID provider to login:</p>

<form id="openid-form" method="post" action="/openid/login/"><div>
{% csrf_token %}

<ul class="inputs-list">
    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_google" value="https://www.google.com/accounts/o8/id"/>
	    <span>Google - https://www.google.com/accounts/o8/id</span>
	</label>
    </li>

    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_yahoo" value="http://yahoo.com"/>
	    <span>Yahoo! - http://yahoo.com</span>
	</label>
    </li>

    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_wordpress" value="__username__.wordpress.com"/>
	    <span>WordPress - <input class="username" type="text" placeholder="username"/>.wordpress.com</span>
	</label>
    </li>

    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_myopenid" value="__username__.myopenid.com"/>
	    <span>MyOpenID - <input class="username" type="text" placeholder="username"/>.myopenid.com</span>
	</label>
    </li>

    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_livejournal" value="__username__.livejournal.com"/>
	    <span>LiveJournal - <input class="username" type="text" placeholder="username"/>.livejournal.com</span>
	</label>
    </li>

    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_myspace" value="myspace.com/__username__"/>
	    <span>MySpace - myspace.com/<input class="username" type="text" placeholder="username"/></span>
	</label>
    </li>

    <li>
	<label>
	    <input type="radio" name="openid_identifier" id="id_openid_launchpad" value="launchpad.net/~__username__"/>
	    <span>Launchpad - launchpad.net/~<input class="username" type="text" placeholder="username"/></span>
	</label>
    </li>
</ul>

<p><input name="bsignin" type="submit" value="Login" class="btn primary" /></p>
</div></form>

<form id="openid-form-other" method="post" action="/openid/login/"><div>
{% csrf_token %}
<p><strong>Or,</strong> enter other OpenID provider URL:</p>
<input type="text" id="id_openid_identifier" class="openid xlarge" name="openid_identifier" maxlength="255" size="30" />
<input class="btn primary" name="bsignin" type="submit" value="Login" />
</div></form>

<div class="clear"></div>

<p>Tip: if you don't know the URL of your OpenID provider, have a look at this wiki page: {{ 'http://en.wikipedia.org/wiki/OpenID'|urlize }}</p>

{% endblock %}

{% block ready %}
$('#openid-form').bind('submit', function(e) {
    var openid_provider_url = null;
    $(this).find(':radio:checked').each(function() {
	var username = $(this).parent().find('input.username').val();
	openid_provider_url = $(this).val().replace('__username__', username);
	$(this).val(openid_provider_url);
	//console.log(openid_provider_url);
    });
    //e.preventDefault();
});
{% endblock %}
