{% extends "base.html" %}

{% block pagetitle %}Login{% endblock %}

{% block content %}

<p>Choose an OpenID provider to login:</p>

<form id="openid-form" method="post" action="/openid/login/"><div>
{% csrf_token %}
<p><input type="radio" name="openid_identifier" id="id_openid_google" value="https://www.google.com/accounts/o8/id"/>
<label for="id_openid_google">Google - {{ 'https://www.google.com/accounts/o8/id' }}</label></p>
<p><input type="radio" name="openid_identifier" id="id_openid_yahoo" value="http://yahoo.com"/>
<label for="id_openid_yahoo">Yahoo! - {{ 'http://yahoo.com' }}</label></p>
<p><input name="bsignin" type="submit" value="Login" /></p>
</div></form>

<form id="openid-form" method="post" action="/openid/login/"><div>
{% csrf_token %}
<label for="id_openid_identifier"><strong>Or,</strong> enter other OpenID provider URL: </label><input type="text" id="id_openid_identifier" class="openid" name="openid_identifier" maxlength="255" size="30" />
    <input name="bsignin" type="submit" value="Login" />
</div></form>

<p><em>If you would like us to add more OpenID provider shortcuts, please email us at <a href="mailto:bashoneliners@lists.launchpad.net">bashoneliners@lists.launchpad.net</a>. Or, if you would like to implement that yourself please head over to our <a href="{% url bashoneliners.main.views.mission %}">mission statement</a> for details.</em></p>

{% endblock %}

