{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}Mission statement{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<dl class="mission">
    <dt>MISSION</dt>
    <dd>Create a collection of practical or just pure awesome(!) bash or ksh <em>one-liners</em> or tips, with easy to use user interfaces for browsing, searching and contributing one-liners.
    </dd>

    <dt>OPPORTUNITIES</dt>
    <dd>Knowledge exchange between bash/ksh gurus, fresh ideas by new contributors, education of users new to Linux, coffee break entertainment.
    </dd>

    <dt>AREAS OF COLLABORATION</dt>
    <dd>Interface design, development, documentation, translations, testing.</dd>
    
    <dt>SKILLS REQUIRED</dt>
    <dd>Programming (web, mobile), web design, testing, translations, karma.</dd>

</dl>

<h3>Interested in the project?</h3>

<p>This is an open-source project, you can find the source code on the project management website:</p>
<p><a href="https://launchpad.net/bashoneliners">https://launchpad.net/bashoneliners</a></p>

<p>If you would like to participate, please contact us at <a href="mailto:info@titan2x.com">info@titan2x.com</a> and let's start the conversation!</p>

{% endblock %}
