{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}Mission statement{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<p>Our Mission Statement is the foundation or definition of this website project.</p>

<dl class="mission">
    <dt>MISSION</dt>
    <dd>Create a collection of practical or just pure awesome(!) bash or ksh <em>one-liners</em> or tips, with easy to use user interfaces for browsing, searching and contributing one-liners.
    </dd>

    <dt>OPPORTUNITIES</dt>
    <dd>Knowledge exchange between bash/ksh gurus, fresh ideas by new contributors, education of users new to Linux, coffee break entertainment.
    </dd>

    <dt>AREAS OF COLLABORATION</dt>
    <dd>Interface design, development, documentation, translations, testing.</dd>
    
    <dt>SKILLS REQUIRED</dt>
    <dd>Programming (web, mobile), web design, testing, translations, karma.</dd>

</dl>

<p>If you are interested in participating in this open-source project, head over to the <a href="{% url bashoneliners.main.views.sourcecode %}">source code</a> page.</p>

{% endblock %}
