{% load nst %}

<div class="oneliners">
    <div class="expand-all"></div>

    {% for oneliner in oneliners %}
    <div class="oneliner">
	<h3 class="summary">
	    <a href="{% url bashoneliners.main.views.oneliner oneliner.pk %}">{{ oneliner.summary|capfirst }}</a>
	</h3>

	<pre>{% for line in oneliner.lines %}<span class="prompt">$ </span>{{ line }}<br/>{% endfor %}</pre>

	<p class="author">
	by <a href="{% url bashoneliners.main.views.profile oneliner.user.pk %}"><span>{{ oneliner.user.username }}</span> </a>
	    on <span>{{ oneliner.created_dt }}</span>
	</p>

	{% if oneliner.explanation or oneliner.caveats %}
	<div class="details hidden">
	    {% if oneliner.explanation %}
	    <div class="explanation">
		<h3>Explanation</h3>
		{{ oneliner.explanation|nst|safe }}
	    </div>
	    {% endif %}

	    {% if oneliner.caveats %}
	    <div class="caveats">
		<h3>Limitations</h3>
		{{ oneliner.caveats|nst|safe }}
	    </div>
	    {% endif %}
	</div>
	{% endif %}
    </div>
    {% empty %}
    <p class="message">No matching one-liners.</p>
    {% endfor %}
</div>
