{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}{{ form.title }}{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<h1>{{ form.title }}</h1>

{% if question %}
<div class="alert-message block-message info">
    <p>This one-liner will be linked to the following question as a possible answer:</p>
    <blockquote>
	<p><a href="{% url bashoneliners.main.views.question question.pk %}">{{ question.summary }}</a></p>
	<small>
	    by <a href="{% url bashoneliners.main.views.profile question.user.pk %}"><span>{{ question.user.username }}</span></a>
	    on <span>{{ question.created_dt }}</span>
	</small>
    </blockquote>
</div>
{% endif %}

<form action="" method="post" class="form-stacked">{% csrf_token %}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>
    <div class="oneliner">
	<h3>Summary of the one-liner<span class="required">*</span></h3>
	<div class="hint">In one sentence, what does it do?</div>
	<div class="input">
	    <div class="error">{{ form.summary.errors }}</div>
	    <div class="summary">{{ form.summary }}</div>
	</div>
	
	<h3>The one-liner<span class="required">*</span></h3>
	<div class="hint"></div>
	<div class="input">
	    <div class="error">{{ form.line.errors }}</div>
	    <div class="summary">{{ form.line }}</div>
	</div>
	
	<h3>Explanation<span class="required">*</span></h3>
	<div class="hint">Try to use relevant keywords in the explanation, so that the one-liner is easier to find by search.</div>
	<div class="input">
	    <div class="error">{{ form.explanation.errors }}</div>
	    <div class="explanation">{{ form.explanation }}</div>
	</div>
	
	<h3>Limitations (optional)</h3>
	<div class="hint">For example, if the one-liner might not work in some flavors of UNIX, etc.</div>
	<div class="input">
	    <div class="error">{{ form.limitations.errors }}</div>
	    <div class="limitations">{{ form.limitations }}</div>
	</div>

	<h3>Published</h3>
	<div class="hint">If checked, the one-liner will be visible in public listings, and will be tweeted on Twitter with <a href="https://twitter.com/#!/bashoneliners">@bashoneliners</a></div>
	<div class="input">
	    <div class="error">{{ form.is_published.errors }}</div>
	    <div class="is_published"><label>{{ form.is_published }} <span>Published</span></label></div>
	</div>

	<p class="actions">{% for action in form.actions %}<input class="btn primary" type="submit" name="action" value="{{ action }}"/>{% endfor %}</p>
    </div>
</form>

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
