{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}Post a one-liner{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<p>Make sure your one-liner is:</p>

<ul>
    <li>Practical, clever, or interesting to someone using bash or ksh.</li>
    <li>Short, clear, easy to understand.</li>
    <li>Something very interesting or cool.</li>
</ul>

<p>Please DO NOT post a one-liner if:</p>

<ul>
    <li>... it is too complicated and hard to read.</li>
    <li>... it is only marginally useful.</li>
    <li>... you don't fully understand how it works.</li>
</ul>


<form action="" method="post">{% csrf_token %}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>
    <div class="oneliner">
	<dl>
	    <dt>Summary of the one-liner, what it does in one sentence</dt>
	    <dd>
	    <div class="error">{{ form.summary.errors }}</div>
	    <div class="summary">
		{{ form.summary }}
	    </div>
	    </dd>

	    <dt><label for="id_line">The one-liner</label></dt>
	    <dd>
	    <div class="error">{{ form.line.errors }}</div>
	    <div class="summary">{{ form.line }}</div>
	    </dd>

	    <dt>How it works, in detail</dt>
	    <dd>
	    <div class="error">{{ form.explanation.errors }}</div>
	    <div class="explanation">
		{{ form.explanation }}
	    </div>
	    </dd>

	    <dt>Limitations (if any)</dt>
	    <dd>
	    <div class="error">{{ form.caveats.errors }}</div>
	    <div class="caveats">
		{{ form.caveats }}
	    </div>
	    </dd>

	    <!--
	    <dt>Published</dt>
	    <dd>
	    <div class="error">{{ form.is_published.errors }}</div>
		{{ form.is_published }}
	    </dd>
	    -->
	</dl>

	<p><input type="submit"></p>
    </div>
</form>

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
