{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}{{ form.title }}{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

{% if user == oneliner.user %}
<p>A few tips before you post...</p>

<ul>
    <li>Check first with search to confirm the one-liner does not yet exist.</li>
    <li>A good one-liner is useful, interesting or cool.</li>
    <li>Keep it clear and short.</li>
</ul>
{% endif %}

<form action="" method="post">{% csrf_token %}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>
    <div class="oneliner">
	<label for="id_summary">Summary of the one-liner<span class="required">*</span></label>
	<div class="hint">In one sentence, what does it do?</div>
	<div class="input">
	    <div class="error">{{ form.summary.errors }}</div>
	    <div class="summary">{{ form.summary }}</div>
	</div>
	
	<label for="id_line">The one-liner<span class="required">*</span></label>
	<div class="hint"></div>
	<div class="input">
	    <div class="error">{{ form.line.errors }}</div>
	    <div class="summary">{{ form.line }}</div>
	</div>
	
	<label for="id_explanation">Explanation<span class="required">*</span></label>
	<div class="hint">Try to use relevant keywords in the explanation, so that the one-liner is easier to find by search.</div>
	<div class="input">
	    <div class="error">{{ form.explanation.errors }}</div>
	    <div class="explanation">{{ form.explanation }}</div>
	</div>
	
	<label for="id_limitations">Limitations (optional)</label>
	<div class="hint">For example, if the one-liner might not work in some flavors of UNIX, etc.</div>
	<div class="input">
	    <div class="error">{{ form.limitations.errors }}</div>
	    <div class="limitations">{{ form.limitations }}</div>
	</div>

	<label for="id_is_published">Published</label>
	<div class="hint">If not checked, the one-liner will not be visible in public listings.</div>
	<div class="input">
	    <div class="error">{{ form.is_published.errors }}</div>
	    <div class="is_published">{{ form.is_published }} <label for="id_is_published">Published</label></div>
	</div>

	<p class="actions">{% for action in form.actions %}<input type="submit" name="action" value="{{ action }}"/>{% endfor %}</p>
    </div>
</form>

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
