{% extends "base.html" %}

{% load i18n %}

{% block pagetitle %}{% if user == hacker %}<a href="{% url bashoneliners.main.views.edit_profile %}" class="editable">{{ hacker.username }}</a>{% else %}{{ hacker.username }}{% endif %}{% endblock %}

{% block content %}

<table class="profile bordered-table">
    {% if hacker.hackerprofile.twitter_name %}
    <tr>
	<th>Twitter name</th>
	<td><a href="{{ hacker.hackerprofile.twitter_url }}">{{ hacker.hackerprofile.twitter_name }}</a></td>
    </tr>
    {% endif %}
    {% if hacker.hackerprofile.blog_url %}
    <tr>
	<th>Blog URL</th>
	<td>{{ hacker.hackerprofile.blog_url|default:'(not set)'|urlize }}</td>
    </tr>
    {% endif %}
    {% if hacker.hackerprofile.homepage_url %}
    <tr>
	<th>Homepage URL</th>
	<td>{{ hacker.hackerprofile.homepage_url|default:'(not set)'|urlize }}</td>
    </tr>
    {% endif %}
</table>

<h3>{% if user == hacker %}Questions you posted{% else %}Questions posted{% endif %}</h3>

{% include 'main/questions.html' %}

<h3>{% if user == hacker %}One-liners you posted{% else %}One-liners posted{% endif %}</h3>

{% include 'main/oneliners.html' %}

<h3>Favourite one-liners</h3>

<p class="warning">Not implemented yet. <a href="{% url bashoneliners.main.views.sourcecode %}">Would you be interested in implementing this feature?</a></p>

<h3>{% if user == hacker %}One-liners you voted on{% else %}One-liners voted on{% endif %}</h3>

<p class="warning">Not implemented yet. <a href="{% url bashoneliners.main.views.sourcecode %}">Would you be interested in implementing this feature?</a></p>


{% endblock %}
