{% extends "base.html" %}

{% load i18n %}

{% block pagetitle %}{{ hacker.username }}{% endblock %}

{% block content %}

<h3>{% if owner %}One-liners you posted{% else %}One-liners posted{% endif %}</h3>

{% include 'main/oneliners.html' %}

<h3>Favourite one-liners</h3>

<p class="warning">Not implemented yet. <a href="{% url bashoneliners.main.views.sourcecode %}">Would you be interested in implementing it?</a></p>

<h3>{% if owner %}One-liners you voted on{% else %}One-liners voted on{% endif %}</h3>

<p class="warning">Not implemented yet. <a href="{% url bashoneliners.main.views.sourcecode %}">Would you be interested in implementing it?</a></p>


{% endblock %}
