<div class="questions">

    {% for question in questions %}
    <div class="question">
	<h3 class="summary">
	    {% if user == question.user %}
	    <a class="editable" href="{% url bashoneliners.main.views.edit_question question.pk %}">&nbsp;
	    {% if not question.is_published %}
	    <span class="draft">(Not published!)</span>
	    {% endif %}
	    </a>
	    {% endif %}
	    {{ question.summary }}
	</h3>
	<blockquote>
	    <p>{{ question.explanation }}</p>
	    <small>
		by <a href="{% url bashoneliners.main.views.profile question.user.pk %}"><span>{{ question.user.username }}</span> </a>
		on <span>{{ question.created_dt }}</span>
	    </small>
	</blockquote>
	<a class="btn" href="{% url bashoneliners.main.views.new_oneliner question.pk %}">Post a one-liner that answers this!</a>
    </div>
    {% empty %}
    <p class="message">No matching questions.</p>
    {% endfor %}

</div>
