{% extends "base.html" %}

{% block pagetitle %}Rules{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<p>A <em>one-liner</em> is a sequence of commands that does something useful, interesting, in just one line!</p>

<h3>A *good* one-liner is ...</h3>

<ul>
    <li>Useful, practical for someone using bash, ksh family of shells.</li>
    <li>Short, clear, easy to understand.</li>
    <li>Something very interesting or cool.</li>
</ul>

<p>If you know a *good* one-liner, please do not hesitate to post and share with everyone!</p>

<h3>Do NOT post a one-liner if ...</h3>

<ul>
    <li>... it is too complicated and hard to read.</li>
    <li>... it is only marginally useful.</li>
    <li>... you don't fully understand how it works.</li>
</ul>


{% endblock %}
