{% extends "base.html" %}

{% load nst %}

{% block pagetitle %}Source code{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<h1>Source code</h1>

<p>This is an open-source project, and we are looking for contributors. You can find the source code here:</p>
<p><a href="https://launchpad.net/bashoneliners">https://launchpad.net/bashoneliners</a></p>

<p>If you would like to participate in developing this site, please contact us at <a href="mailto:bashoneliners@lists.launchpad.net">bashoneliners@lists.launchpad.net</a> and let's start the conversation!</p>

<dl class="sourcecode">
    <dt>Task management, upcoming features</dt>
    <dd>
	<a href="https://trello.com/board/main/4e7da3cf5a94680b35000893">https://trello.com/board/main/4e7da3cf5a94680b35000893</a>
    </dd>

    <dt>Mailing list address</dt>
    <dd><a href="mailto:bashoneliners@lists.launchpad.net">bashoneliners@lists.launchpad.net</a></dd>

    <dt>Mailing list public archive</dt>
    <dd><a href="https://lists.launchpad.net/bashoneliners/">https://lists.launchpad.net/bashoneliners/</a></dd>

    <dt>Get the source code</dt>
    <dd>
	<pre># using Bazaar
bzr branch lp:bashoneliners

# using Subversion (read-only mirror)
svn checkout http://bashoneliners.googlecode.com/svn/ bashoneliners-read-only

# using Git
git clone git@github.com:titan2x/bashoneliners.git
</pre>
    </dd>

</dl>

<p>Please also read our <a href="{% url bashoneliners.main.views.mission %}">mission statement</a>, as it is the foundation of our project.</p>

{% endblock %}
