{% extends "base.html" %}

{% block pagetitle %}Questions{% endblock %}

{% block pageheader %}Questions{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div style="margin-bottom: 2em">

<p>Are you looking for a one-liner for some specific purpose and it's not on the site yet? (Surely you searched well, right?)
Feel free to ask for it here.</p>

{% if user.is_authenticated %}
<p><a href="{% url bashoneliners.main.views.new_question %}" class="btn btn-primary">Post a question</a></p>
{% else %}
<p>To post a question, please <a href="{% url bashoneliners.main.views.login %}">login</a> first.</p>
{% endif %}

</div>

{% if questions %}
<h2>Recent questions</h2>

{% include 'main/questions.html' %}

{% endif %}

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
