/* Stack Exchange style -- start */

* {
    font-family: -apple-system, "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 19px;
}

/* Stack Exchange style -- end */

.oneliners .oneliner {
    background-color: #f8f8f8;
}

.oneliner .author {
    text-align: right;
    font-size: small;
    color: #848d95;
}

.oneliner pre.line {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #ddd;
    padding: 4px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.oneliner .explanation pre, .preview pre {
    background-color: #f8f8f8;
    padding: .5em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.oneliner .explanation blockquote, .markdown-help blockquote {
    background-color: #f8f8f8;
    padding: .5em;
    padding-left: 1em;
    border-left: 4px solid #eee;
}

.preview blockquote {
    background-color: #eee;
    padding: .5em;
    padding-left: 1em;
    border-left: 4px solid #ddd;
}

.login .btn-google {
    background-color: #4285F4;
}

.errorlist {
    color: #DE546B;
}

.input .shell-symbol {
    background-color: #ddd;
    color: green;
}

.required {
    color: red;
    padding: 0 .5em;
}

.preview {
    background-color: whiteSmoke;
    height: auto;
    display: inline-block;
    padding: 4px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
}
