body {
    padding-top: 40px; /* Twitter bootstrap */
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

table.oneliner {
    width: 100%;
}

.oneliner .line {
    background: #ddd;
}

.oneliner .line .add-on {
    color: #253;
    padding-right: .5em;
    font-weight: bold;
}

.summary {
    color: inherit;
}

.summary a {
    color: inherit;
}

.summary a:hover {
    text-decoration: inherit;
}

form .required {
    color: red;
    padding: 0 .5em;
}

form .input .error ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

form .input .error ul li {
    color: red;
}

.form-actions button {
    margin-right: 1em;
}

input.openid {
    /*background: url(/openid/logo.gif) no-repeat;*/
    /*background-position: 0 50%;*/
    /*padding-left: 2em;*/
}

.openid-form {
    margin-left: 1em;
}

.openid-form .btn-primary {
    margin-left: 1em;
}

table.profile {
    width: auto;
}

.nav-profile li, .nav-oneliners li {
    float: right;
}

.related .well {
    background: #dff0d8;
}

.related .well .summary {
    color: #468847;
}

.related .well.comments {
    background: #eee;
}

.comments-toggle {
    cursor: pointer;
}

.comments {
    display: none;
}

.comments.expanded {
    display: inherit;
}

.navbar a.login {
    color: #08c !important;
}

.footer {
    background-color: #eee;
    border: 1px solid transparent;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.validators {
    text-align: center;
}

.validators a {
    margin-left: .5em;
}

table.help {
    width: inherit;
}

a.help {
    cursor: help;
}

dl.sourcecode dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

dl.mission dt {
    font-variant: small-caps;
    text-transform: uppercase;
}

dl.mission dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

dl.rss a:hover {
    text-decoration: none;
}

dl.rss dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

/* markdown preview */

.preview {
    background-color: whiteSmoke;
    height: auto;
    display: inline-block;
    padding: 4px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
}
