/* Begin Various Tags */

    body {
        color: black;
        margin: 0;
        padding: 0;
        border: 0;
    }

    acronym, abbr {
        cursor: help;
    }

    img {
        border: none;
        vertical-align: middle;
    }

    dt {
        font-weight: bold;
    }

/* End Various Tags */


/* Begin Images */

    img.centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.alignright {
        padding: 4px;
        margin: 0 0 2px 7px;
        display: inline;
    }

    img.alignleft {
        padding: 4px;
        margin: 0 7px 2px 0;
        display: inline;
    }

/* End Images */


/* Begin Utility Classes */

    .floatleft {
        float: left;
        margin-right: 1em;
    }

    .floatright {
        float: right;
        margin-left: 1em;
    }

    .alignright {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    .clear {
        clear: both;
    }

    .hidden {
        display: none;
    }
            
    .invisible {
        visibility: hidden;
    }
            
    .screen-reader-text {
        position: absolute;
        left: -1000em;
    }

    .validators {
        text-align: right;
    }
    .validators a {
        margin-left: .5em;
    }

/* End Utility Classes */


body {
    padding-top: 40px; /* Twitter bootstrap */
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

table.oneliner {
    width: 100%;
}

.oneliner .line {
    background: #ddd;
}
.oneliner .line .add-on {
    color: #253;
    padding-right: .5em;
    font-weight: bold;
}

.summary {
    color: inherit;
}

.summary a {
    color: inherit;
}

.summary a:hover {
    text-decoration: inherit;
}

form .required {
    color: red;
    padding: 0 .5em;
}

form .input .error ul {
    list-style: none;
    margin-left: 0;
}

form .input .error ul li {
    color: red;
}

.form-actions button {
    margin-right: 1em;
}

input.openid {
    background: url(/openid/logo.gif) no-repeat;
    background-position: 0 50%;
    padding-left: 16px;
}

#openid-form input[type="radio"] {
    float: none;
}

form .profile label {
    font-weight: bold;
}

table.profile {
    width: auto;
}

.nav-profile li, .nav-oneliners li {
    float: right;
}

.related .well {
    background: #dff0d8;
}
.related .well .summary {
    color: #468847;
}

.related .well.comments {
    background: #eee;
}

.comments-toggle {
    cursor: pointer;
}
.comments-toggle img {
    background: url(/static/images/arrows.png) no-repeat center;
    background-position: 0px -81px;
    height: 26px;
    padding: 3px;
}
.comments-toggle.expanded img {
    background-position: 0px -54px;
}
.comments {
    display: none;
}
.comments.expanded {
    display: inherit;
}

.footer {
    background-color: #eee;
}

table.help {
    width: inherit;
}

a.help {
    cursor: help;
}

dl.sourcecode dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

dl.mission dt {
    font-variant: small-caps;
    text-transform: uppercase;
}
dl.mission dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

dl.rss a:hover {
    text-decoration: none;
}
dl.rss dd {
    margin-bottom: .5em;
    margin-left: 2em;
}

#search-form .controls {
    margin-top: 1em;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 a.btn {
    margin-left: 1em;
}


/* markdown preview */

.preview {
    border-color: #ddd;
    background-color: whiteSmoke;
    height: auto;
    display: inline-block;
    padding: 4px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: auto;
}


/* voting */

div.upvote {
}


/* overriding bootstrap */

pre code {
    border: 0;
}


/* eof */
