{% extends "base.html" %}

{% block pagetitle %}Page not found{% endblock %}

{% block pageheader %}Page not found{% endblock %}

{% block content %}

    <div class="alert alert-danger">
        <p>The page you are trying to reach does not exist (404).</p>

        <p>Path: <strong>{{ request_path }}</strong></p>

        <p>If you think this is some kind of error,
            please create an issue on <a href="https://github.com/janosgyerik/bashoneliners/issues">GitHub</a>.
            Please include in the issue this path you could not access (<code>{{ request_path }}</code>),
            and the URL from which you got here (<code>{{ request.META.HTTP_REFERER|default:"???" }}</code>).
        </p>
    </div>

    <p><a href="/">Back to the main page.</a></p>

{% endblock %}
