{% extends "base.html" %}

{% block pagetitle %}Internal Server Error{% endblock %}

{% block pageheader %}Internal Server Error{% endblock %}

{% block content %}

    <div class="alert alert-error">
        <p>Ouch! This is our fault :-/</p>

        <p>We really would like to fix this.
            Can you reproduce the problem anytime?
            Does it happen only sometimes or always?</p>

        <p>Please kindly <a href="https://github.com/janosgyerik/bashoneliners/issues/new">create an issue on GitHub</a>,
            explaining what happened.</p>
    </div>

    <p><a href="/">Back to the main page.</a></p>

{% endblock %}
