{% extends "base.html" %}

{% block pagetitle %}Internal Server Error{% endblock %}

{% block pageheader %}Internal Server Error{% endblock %}

{% block content %}

<div class="alert alert-error">
    <p>Ouch! That... really... HURT!</p>
    <p>Whatever you were trying to do, it failed, and
    most probably it is *our* fault, NOT yours.</p>
    <p>We want to know about this problem,
    and for that we need a little help from you.</p>
    <p>Please send us an email at this address:
    <a href="mailto:bashoneliners@googlegroups.com">bashoneliners@googlegroups.com</a></p>
    <p>Please explain what happened,
    and if you can reproduce the problem anytime or
    if it only happens sometimes but not always.</p>
    <p>It is very important that you email us,
    otherwise who knows when we will notice that there is a problem...</p>
    <p>Once we get your message, we will sort this thing out ASAP.</p>
</div>

<p><a href="/">Back to the main page.</a></p>

{% endblock %}
