{% extends "html5.html" %}

{% load static %}

{% block title %}{% block pagetitle %}{% endblock %} | Bash One-Liners{% endblock %}

{% block navbar %}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Bash One-Liners</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <div class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        {% if user.is_superuser %}
        <a class="nav-link mx-2" href="/admin/">Admin</a>
        {% endif %}
        <a class="nav-link mx-2" href="{% url 'oneliners_default' %}">One-Liners</a>
        {% if user.is_authenticated %}
        <a class="nav-link mx-2" href="{% url 'oneliner_new' %}">Post</a>
        {% endif %}
        <form class="d-flex input-group w-auto mx-2" action="{% url 'search' %}" method="get">
          <input
            name="query"
            id="id_query"
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <span class="input-group-text text-white border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </form>
      </div>
      <!-- Left links -->

      <div class="d-flex">
        {% if user.is_authenticated %}
        <button
          type="button"
          class="btn btn-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user.hackerprofile.get_display_name }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <a href="{% url 'login' %}">
          <button type="button" class="btn btn-link">
          Login
          </button>
        </a>
        {% endif %}
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

{% endblock %}

{% block main %}

    {% block pageheading %}{% endblock %}

    {% block content %}{% endblock %}

{% endblock main %}
