{% extends "html5.html" %}

{% load static %}

{% block title %}{% block pagetitle %}{% endblock %} | Bash One-Liners{% endblock %}

{% block navbar %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bash One-Liners</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'oneliners_default' %}">One-Liners</a></li>
                    <li><a href="{% url 'feeds' %}">Feeds</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'oneliner_new' %}">Post</a></li>
                    {% endif %}
                </ul>

                {% if searchform %}
                    <form class="navbar-form navbar-left" role="form" method="get"
                          action="{% url 'search' %}">
                        <input name="query" maxlength="100" placeholder="Search" type="text"
                               class="form-control search-query" id="id_query"/>
                    </form>
                {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle login" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ user.hackerprofile.get_display_name }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="{% url 'login' %}" class="login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}

    <div class="page-header"><h1>{% block pageheader %}{% endblock %}</h1></div>

    {% block content %}{% endblock %}

{% endblock main %}
