{% extends "base.html" %}

{% block pagetitle %}Feeds{% endblock %}
{% block pageheader %}Feeds{% endblock %}

{% block content %}

<p>The links below are RSS feed URLs which you can subscribe to using your favourite RSS reader.</p>

<dl class="rss">
    <dt><a href="{% url bashoneliners.main.feeds.oneliner %}"><span class="label label-info">RSS</span> One-Liners</a></dt>
    <dd>Recently posted bash one-liners.</dd>

    <dt><a href="{% url bashoneliners.main.feeds.question %}"><span class="label label-info">RSS</span> Questions</a></dt>
    <dd>Recently posted questions.</dd>
</dl>

{% endblock %}
