{% extends "base.html" %}

{% block pagetitle %}Login{% endblock %}

{% block pageheader %}Login{% endblock %}

{% block content %}

<div class="alert alert-info">
    <strong class="alert-heading">Note:</strong>
    OpenID login is the only login method we support,
    in the best interest of our users.
</div>

<form class="form-horizontal" id="openid-form" method="post" action="/openid/login/">
<fieldset>
{% csrf_token %}
    <div class="control-group">
	<label class="control-label">Select Open ID provider</label>
	<div class="controls">
	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_google" value="https://www.google.com/accounts/o8/id"/>
		Google - https://www.google.com/accounts/o8/id
	    </label>

	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_yahoo" value="http://yahoo.com"/>
		Yahoo! - http://yahoo.com
	    </label>
	    
	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_wordpress" value="__username__.wordpress.com"/>
		WordPress:</label> <div class="input-append"><label for="id_openid_wordpress"><input class="username" type="text" placeholder="username"/><span class="add-on">.wordpress.com</span></label></div>
	    
	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_myopenid" value="__username__.myopenid.com"/>
		MyOpenID:</label> <div class="input-append"><label for="id_openid_myopenid"><input class="username" type="text" placeholder="username"/><span class="add-on">.myopenid.com</span></label></div>
	    
	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_livejournal" value="__username__.livejournal.com"/>
		LiveJournal:</label> <div class="input-append"><label for="id_openid_livejournal"><input class="username" type="text" placeholder="username"/><span class="add-on">.livejournal.com</span></label></div>
	    
	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_myspace" value="myspace.com/__username__"/>
		MySpace:</label> <div class="input-prepend"><label for="id_openid_myspace"><span class="add-on">myspace.com/</span><input class="username" type="text" placeholder="username"/></label></div>
	    
	    <label class="radio">
		<input type="radio" name="openid_identifier" id="id_openid_launchpad" value="launchpad.net/~__username__"/>
		Launchpad:</label> <div class="input-prepend"><label for="id_openid_launchpad"><span class="add-on">launchpad.net/~</span><input class="username" type="text" placeholder="username"/></label></div>
	</div>
    </div>
    <div class="form-actions">
	<input name="bsignin" type="submit" value="Login" class="btn btn-primary" />
    </div>
</fieldset>
</form>

<form id="openid-form-other" method="post" action="/openid/login/"><div>
{% csrf_token %}
<p>If your favourite OpenID provider is not in the list above,
you can enter its URL directly:</p>
<input type="text" id="id_openid_identifier" class="openid span4" name="openid_identifier" maxlength="255" />
<input class="btn btn-primary" name="bsignin" type="submit" value="Login" />
<p class="help-block">if you don't know the URL of your OpenID provider, this page might help: {{ 'http://en.wikipedia.org/wiki/OpenID'|urlize }}</p>
</div></form>

{% endblock %}

{% block ready %}
$('#openid-form').bind('submit', function(e) {
    var openid_provider_url = null;
    $(this).find(':radio:checked').each(function() {
	var username = $(this).parent().find('input.username').val();
	openid_provider_url = $(this).val().replace('__username__', username);
	$(this).val(openid_provider_url);
	//console.log(openid_provider_url);
    });
    //e.preventDefault();
});
{% endblock %}
