{% extends "base.html" %}

{% load comments %}

{% block pagetitle %}Comment on one-liner{% endblock %}
{% block pageheader %}Comment on one-liner{% endblock %}

{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block content %}

{% with 1 as nobuttons %}
{% include 'main/elements/oneliner.html' %}
{% endwith %}

{% include 'main/elements/please_login.html' %}

<form action="" method="post">{% csrf_token %}
    {{ form.next_url.as_hidden }}
    {{ form.honeypot.as_hidden }}
    {{ form.content_type.as_hidden }}
    {{ form.object_pk.as_hidden }}
    {{ form.timestamp.as_hidden }}
    {{ form.security_hash.as_hidden }}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>
    <h3>Comment<span class="required">*</span></h3>
    <div class="help-block"></div>
    <div class="input">
	<div class="error">{{ form.comment.errors }}</div>
	<div class="comment">{{ form.comment }}</div>
    </div>
    
    <div class="form-actions">
	{% include 'main/elements/please_login.html' %}
	<input class="btn btn-primary" type="submit" name="submit" value="Post"/>
	<a class="btn" href="{{ next_url }}">Cancel</a>
    </div>
</form>

{% endblock %}

{% block ready %}
	$('#id_comment').focus();
{% endblock %}
