{% extends "base.html" %}

{% block pagetitle %}{{ form.title }}{% endblock %}

{% block pageheader %}{{ form.title }}{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

{% if question %}
<div class="alert alert-info compact">
    <p>This one-liner will be linked to the following question as a possible answer:</p>
    <blockquote>
	<p><a href="{% url bashoneliners.main.views.question question.pk %}">{{ question.summary }}</a></p>
	<small>
	    by <a href="{% url bashoneliners.main.views.profile question.user.pk %}"><span>{{ question.user.hackerprofile.display_name|default:question.user.username }}</span></a>
	    on <span>{{ question.created_dt }}</span>
	</small>
    </blockquote>
</div>
{% endif %}

{% if oneliner %}
<div class="alert alert-info compact">
    <p>The new one-liner will be linked to the following one-liner as an alternative:</p>
    {% include 'main/elements/oneliner.html' %}
</div>
{% endif %}

{% include 'main/elements/oneliner_edit_form.html' %}

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
