{% extends "base.html" %}

{% block pagetitle %}{{ form.title }}{% endblock %}

{% block pageheader %}{{ form.title }}{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

{% if question %}
<div class="alert alert-info related">
    <p>The new one-liner will be linked to the following question as a possible answer:</p>
    {% with 1 as nobuttons %}
    {% include 'main/elements/question.html' %}
    {% endwith %}
</div>
{% endif %}

{% if oneliner %}
<div class="alert alert-info related">
    <p>The new one-liner will be linked to the following one-liner as an alternative:</p>
    {% include 'main/elements/oneliner.html' %}
</div>
{% endif %}

<ul>
    <li>Please use the search box at the top to try to find a one-liner that may already exist for the same purpose.</li>
    <li>Please post only non-trivial and really useful, interesting or awesome one-liners.</li>
</ul>

{% include 'main/elements/please_login.html' %}
{% include 'main/elements/oneliner_edit_form.html' %}

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
