{% extends "base.html" %}

{% block pagetitle %}Questions{% endblock %}

{% block pageheader %}Questions{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div style="margin-bottom: 2em">

<p>If you have a question that can be answered by an appropriate bash one-liner,
feel free to ask it here!</p>

<p><a href="{% url bashoneliners.main.views.question_new %}" class="btn btn-primary">Post a question</a></p>

</div>

{% if questions %}
<h2>Recent questions</h2>

{% include 'main/elements/questions.html' %}

{% endif %}

{% endblock %}

{% block ready %}
	$('#id_summary').focus();
{% endblock %}
