{% extends "base.html" %}

{% block pagetitle %}Search{% endblock %}

{% block pageheader %}Search{% endblock %}

{% block content %}

{% include 'main/elements/oneliners.html' %}

{% endblock %}

{% block ready %}
	var i18n_search_error = 'An error occurred during search.';

	function search_success(html) {
	    $('.oneliners').html($(html).html());
	}

	function search_error(err) {
	    $('#search-errors').text(i18n_search_error);
	}

	function search_completed() {
	    $('#search-loading').empty();
	}

	$('#search-form').submit(function(e) {
	    e.preventDefault();
	    $('#search-loading').append($('#templates .search-loading').html());
	    $('#search-errors').empty();

	    var options = {
		url: '{% url bashoneliners.main.ajax.search %}',
		type: 'get',
		data: { 'query': $('#id_query').val() },
		success: search_success,
		error: search_error,
		complete: search_completed
	    };
	    $.ajax(options);
	});

	$('#id_query').focus();
{% endblock %}
