{% extends "base.html" %}

{% block pagetitle %}Source code{% endblock %}

{% block pageheader %}Source code{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<p>This is an open-source project. 
If you would like to participate or contribute, 
please read the <a href="{% url bashoneliners.main.views.mission %}">mission statement</a> first, 
it is the foundation of the project.
If you are still interested, 
please contact us via the mailing list at <a href="mailto:bashoneliners@googlegroups.com">bashoneliners@googlegroups.com</a>
or privately at <a href="mailto:info@bashoneliners.com">info@bashoneliners.com</a> and let's start the conversation!</p>

<dl class="sourcecode">
    <dt>Project homepage</dt>
    <dd>
	<a href="https://launchpad.net/bashoneliners">https://launchpad.net/bashoneliners</a>
    </dd>

    <dt>Task management, upcoming features</dt>
    <dd>
	<a href="https://trello.com/board/main/4e7da3cf5a94680b35000893">https://trello.com/board/main/4e7da3cf5a94680b35000893</a>
    </dd>

    <dt>Mailing list address</dt>
    <dd><a href="mailto:bashoneliners@googlegroups.com">bashoneliners@googlegroups.com</a></dd>

    <dt>Mailing list public archive</dt>
    <dd><a href="http://groups.google.com/group/bashoneliners/topics">http://groups.google.com/group/bashoneliners/topics</a></dd>

    <dt>Get the source code</dt>
    <dd>
	<pre># using Bazaar (master)
bzr branch lp:bashoneliners

# using Subversion (read-only mirror)
svn checkout http://bashoneliners.googlecode.com/svn/trunk bashoneliners

# using Git (mirror)
git clone https://github.com/titan2x/bashoneliners.git
</pre>
    </dd>

</dl>

{% endblock %}
