{% load markup %}

    <div class="oneliner">
	<h3 class="summary">
	    <a href="{% url bashoneliners.main.views.oneliner oneliner.pk %}">{{ oneliner.summary|capfirst }}</a>
	    {% if user == oneliner.user %}
	    <a class="editable" href="{% url bashoneliners.main.views.edit_oneliner oneliner.pk %}">&nbsp;
	    {% if not oneliner.is_published %}<span class="draft">(Not published!)</span>{% endif %}
	    </a>
	    {% endif %}
	</h3>

	<pre><span class="prompt">$ </span>{{ oneliner.line }}</pre>

	<p class="author"><small>
	&mdash; by <a href="{% url bashoneliners.main.views.profile oneliner.user.pk %}"><span>{{ oneliner.user.hackerprofile.display_name|default:oneliner.user.username }}</span></a>
	    on <span>{{ oneliner.created_dt }}</span>
	</small></p>

	{% if oneliner.explanation %}
	<div class="explanation">
	    <h3>Explanation</h3>
	    {{ oneliner.explanation|markdown:"safe" }}
	</div>
	{% endif %}

	{% if oneliner.limitations %}
	<div class="limitations">
	    <h3>Limitations</h3>
	    {{ oneliner.limitations|markdown:"safe" }}
	</div>
	{% endif %}

	{% block related %}
	{% endblock %}
    </div>
