{% extends 'elements/oneliner.html' %}

{% block related %}
	{% if oneliner.wishlistanswer_set.all %}
	<div class="alert-message block-message success">
	    <h3>Related questions</h3>
	    <div class="questions">
	    {% for answer in oneliner.wishlistanswer_set.all %}
	    {% with answer.question as question %}
	    {% with false as showrelated %}
	    {% include 'elements/question.html' %}
	    {% endwith %}
	    {% endwith %}
	    {% endfor %}
	    </div>
	</div>
	{% endif %}
{% endblock %}
