<ul class="nav nav-tabs nav-justified mb-3" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ active_newest }}" href="{% url 'oneliners_newest' %}" role="tab" data-ordering="newest">Newest</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ active_active }}" href="{% url 'oneliners_active' %}" role="tab" data-ordering="active">Active</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ active_popular }}" href="{% url 'oneliners_popular' %}" role="tab" data-ordering="popular">Popular</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ active_categories }}" href="{% url 'oneliners_categories' %}" role="tab" data-ordering="popular">Categories</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link {{ active_commands }}" href="{% url 'oneliners_commands' %}" role="tab" data-ordering="popular">Commands</a>
    </li>
</ul>
