<form action="#" method="post" role="form">{% csrf_token %}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>
    <div class="oneliner">
        <h3>Summary of the one-liner<span class="required">*</span></h3>

        <div class="help-block">
            <ul>
                <li>A simple, short, informative, specific sentence that summarizes the purpose of the one-liner.</li>
                <li>Use the imperative mood, as if giving an instruction.</li>
                <li>Example: <em>Extract the n-th field from a single line of comma separated values</em></li>
            </ul>
        </div>
        <div class="input">
            <div class="error">{{ form.summary.errors }}</div>
            <div class="summary">{{ form.summary }}</div>
        </div>

        <h3>The one-liner<span class="required">*</span></h3>

        <div class="help-block">
            <ul>
                <li>Useful and interesting, not trying to be cryptic or clever.</li>
                <li>Correct and follows best practices.</li>
                <li>Easy to read and understand, follows common formatting style.</li>
                <li>Use one space around <code>|</code>, one space after <code>;</code></li>
                <li>Has only essential details, matching the summary. No unnecessary commands or flags.</li>
            </ul>
        </div>
        <div class="input">
            <div class="error">{{ form.line.errors }}</div>
            <div class="input-group">
              <div class="input-group-text shell-symbol">$</div>
                {{ form.line }}
            </div>
        </div>

        <h3>Explanation<span class="required">*</span></h3>

        <div class="help-block">
            Explain how the one-liner works as if teaching a beginner. Patiently and not condescendingly.
            <ul>
                <li>Explain every command in the one-liner.</li>
                <li>Explain every flag used in the one-liner.</li>
                <li>Explain non-trivial Bash grammar.</li>
                <li>When applicable: mention important trade-offs or common pitfalls.</li>
                <li>When helpful: include example input and output.</li>
                <li>Use appropriate
                    <a class="help help-markdown" href="{% url 'help_markdown' %}" target="_blank" rel="noopener noreferrer">markdown</a>
                    for code text, code blocks, or blockquotes. Do not use HTML.</li>
            </ul>
        </div>
        <div class="input">
            <div class="error">{{ form.explanation.errors }}</div>
            <div class="row">
                <div class="col-md-6 markdown">{{ form.explanation }}</div>
            </div>
        </div>

        <h3>Limitations (optional)</h3>

        <div class="help-block">
            <ul>
                <li>Mention any non-standard programs that a user may need to install.</li>
                <li>Mention dependence on particular Bash versions.</li>
                <li>Mention portability concerns such as GNU vs BSD or Linux vs UNIX vs MSYS.</li>
            </ul>
        </div>
        <div class="form-outline">
            <div class="error">{{ form.limitations.errors }}</div>
            {{ form.limitations }}
        </div>

        <h3>Published</h3>

        <div class="help-block">If checked, the one-liner will be visible in public listings.</div>
        <div class="input">
            <div class="error">{{ form.is_published.errors }}</div>
            <div class="form-check">
                {{ form.is_published }}
                <label class="form-check-label" for="id_is_published">Published</label>
            </div>
        </div>

        <div class="input">
            {% for action in form.actions %}
                <input class="d-block d-md-inline-block btn {{ action.cssclass }}" type="submit" name="action" value="{{ action.name }}" />
            {% endfor %}
            <a class="d-block d-md-inline-block btn btn-default" href="{{ cancel_url }}">Cancel</a>
        </div>
    </div>
</form>
