{% extends 'oneliners/elements/oneliner.html' %}

{% block related %}
    {% if oneliner.relateds %}
        {% with oneliner.relateds as alternatives %}
            <div class="related">
                <h3 class="">Related one-liners</h3>

                <div class="oneliners">
                    {% for alternative in alternatives %}
                        {% with alternative.oneliner as oneliner %}
                            {% with alternative.score as score %}
                                {% include 'oneliners/elements/oneliner.html' %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
    {% endif %}

    {% if oneliner.alternatives %}
        {% with oneliner.alternatives as alternatives %}
            <div class="related">
                <h3 class="">Alternative one-liners</h3>

                <div class="oneliners">
                    {% for alternative in alternatives %}
                        {% with alternative.alternative as oneliner %}
                            {% with alternative.score as score %}
                                {% include 'oneliners/elements/oneliner.html' %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
    {% endif %}
{% endblock %}
