{% load markup %}
{% load static %}
{% load upvote %}

<div class="well" style="padding: 0.5em">
    <table class="oneliner oneliner-list-item">
        <tr>
            <td style="width: 40px">
                <div class="upvotejs" id="{% if votingDisabled %}disabled-{% endif %}{{ oneliner.pk }}" data-id="{{ oneliner.pk }}" data-user-id="{{ oneliner.user.id }}" data-voting-disabled="{{ votingDisabled }}">
                    <span class="count">{{ oneliner.score }}</span>
                    <span class="score">score</span>
                </div>
            </td>

            <td>
                <div class="oneliner oneliner-{{ oneliner.pk }}">
                    <h3 class="summary">
                        <a href="{% url 'oneliner' oneliner.pk %}">{{ oneliner.summary|capfirst }}</a>
                    </h3>

                    <pre class="line"><span class="add-on">&nbsp;$&nbsp;</span><span class="oneliner-line">{{ oneliner.line }}</span></pre>

                    <p class="author">
                        <span>{{ oneliner.created_dt }}</span>
                        &mdash;
                        <a href="{% url 'profile_of' oneliner.user.pk %}"><span>{{ oneliner.user.hackerprofile.get_display_name }}</span></a>
                        {% if user == oneliner.user or user.is_staff %}
                        <a class="btn btn-default {% if not oneliner.is_published %}btn-warning{% endif %}"
                           href="{% url 'oneliner_edit' oneliner.pk %}">
                            <i class="glyphicon glyphicon-pencil"></i></a>
                        {% endif %}
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
