{% load markup %}
{% load upvote %}

<div class="card oneliner oneliner-detailed">
  <div class="card-body">
      <div class="d-flex align-items-start">
        <div class="flex-shrink-0 upvotejs" id="{{ oneliner.pk }}" data-id="{{ oneliner.pk }}" data-user-id="{{ oneliner.user.id }}">
            <a class="upvote {% upvoted oneliner %}"></a>
            <span class="count">{{ oneliner.score }}</span>
            <a class="downvote {% downvoted oneliner %}"></a>
        </div>

        <div class="flex-grow-1 ms-4">
            <h2 class="h5">
                {% if boxed_oneliner %}
                    <a href="{% url 'oneliner' oneliner.pk %}">{{ oneliner.summary | capfirst }}</a>
                {% else %}
                    {{ oneliner.summary | capfirst }}
                {% endif %}
            </h2>
            <pre class="line">{{ oneliner.line }}</pre>

            <p class="author">
                <span class="date">{{ oneliner.published_dt | date:"F j, Y" }}</span>
                &mdash;
                <a href="{% url 'profile_of' oneliner.user.pk %}"><span>{{ oneliner.user.hackerprofile.get_display_name }}</span></a>
            </p>

            <h3 class="h6">Explanation</h3>
            <div class="explanation">
                {{ oneliner.explanation | markdown:"safe,fenced_code" }}
            </div>

            {% if oneliner.limitations %}
                <h3 class="h6">Limitations</h3>
                <div class="explanation">
                    {{ oneliner.limitations | markdown:"safe,fenced_code" }}
                </div>
            {% endif %}

            <div class="categories mb-2">
                {% for category in oneliner.get_categories %}
                    {% if category.type == "function" %}
                        <a href="{% url 'category' category.pk %}">
                            <span class="badge rounded-pill badge-light">{{ category.name }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if user.is_staff %}
            <div class="commands mb-2 alert alert-warning">
                {% for command in oneliner.get_commands %}
                    <span class="badge rounded-pill badge-light">{{ command }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {% if not boxed_oneliner %}
                {% if user == oneliner.user %}
                    <a class="d-block d-md-inline-block btn btn-primary {% if not oneliner.is_published %}btn-warning{% endif %}"
                       href="{% url 'oneliner_edit' oneliner.pk %}"><i class="fas fa-pencil me-2"></i>Edit</a>
                {% endif %}

                {% with text=oneliner.summary|capfirst|add:": "|add:oneliner.line|urlencode %}
                    {% url 'oneliner' oneliner.pk as url %}
                    {% with "https://bashoneliners.com"|add:url|urlencode as url %}
                    <a class="twitter-share-button d-block d-md-inline-block btn btn-info"
                           href="https://twitter.com/intent/tweet?text={{text}}&url={{url}}&via=bashoneliners">
                        <i class="fab fa-twitter me-2"></i>Tweet</a>
                    {% endwith %}
                {% endwith %}

                {% if user.is_authenticated %}
                    <a href="{% url 'oneliner_alternative' oneliner.pk %}"
                       class="d-block d-md-inline-block btn btn-secondary">
                        <i class="far fa-lightbulb me-2"></i>Post an alternative one-liner</a>
                {% endif %}

                {% if user.is_staff %}
                    <a class="d-block d-md-inline-block btn btn-danger" href="{% url 'oneliner_edit' oneliner.pk %}">Edit</a>
                    <a class="d-block d-md-inline-block btn btn-{% if not oneliner.was_tweeted %}danger{% else %}warning{% endif %}" href="{% url 'oneliner_tweet' oneliner.pk %}">Tweet</a>
                    <a class="d-block d-md-inline-block btn btn-{% if not oneliner.unpublished %}danger{% else %}warning{% endif %}" href="{% url 'oneliner_unpublish' oneliner.pk %}">Unpublish</a>
                    <a class="d-block d-md-inline-block btn btn-danger" href="{% url 'oneliner_snapshot' oneliner.pk %}">Snapshot</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
  </div>
</div>

{% if not boxed_oneliner %}
    {% if oneliner.relateds %}
        {% with alternatives=oneliner.relateds voting_enabled=1 %}
            <h2 class="h5">Related one-liners</h2>

            <div class="oneliners">
                {% for alternative in alternatives %}
                    {% with oneliner=alternative.oneliner %}
                        {% include 'oneliners/elements/oneliner_list_item.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endwith %}
    {% endif %}

    {% if oneliner.alternatives %}
        {% with alternatives=oneliner.alternatives voting_enabled=1 %}
            <h2 class="h5">Alternative one-liners</h2>

            <div class="oneliners">
                {% for alternative in alternatives %}
                    {% with oneliner=alternative.alternative %}
                        {% include 'oneliners/elements/oneliner_list_item.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endwith %}
    {% endif %}
{% endif %}
