<ul class="nav nav-tabs nav-oneliners">
    <li class="{{ active_tags }}">
        <a href="{% url 'oneliners_tags' %}" data-ordering="popular">Tags</a>
    </li>
    <li class="{{ active_popular }}">
        <a href="{% url 'oneliners_popular' %}" data-ordering="popular">Popular</a>
    </li>
    <li class="{{ active_active }}">
        <a href="{% url 'oneliners_active' %}" data-ordering="active">Active</a>
    </li>
    <li class="{{ active_newest }}">
        <a href="{% url 'oneliners_newest' %}" data-ordering="newest">Newest</a>
    </li>
</ul>
