{% load upvote %}
{% load feature_flags %}

<div class="card oneliner">
  <div class="card-body">
      {% flag_enabled 'VOTING' as flag_voting %}
      {% if flag_voting %}
      <div class="d-flex align-items-start">
      {% if voting_enabled %}
        <div class="flex-shrink-0 upvotejs" id="{{ oneliner.pk }}" data-id="{{ oneliner.pk }}" data-user-id="{{ oneliner.user.id }}">
            <a class="upvote {% upvoted oneliner %}"></a>
            <span class="count">{{ oneliner.score }}</span>
            <a class="downvote {% downvoted oneliner %}"></a>
        </div>
      {% else %}
        <div class="flex-shrink-0 upvotejs" data-voting-disabled="true">
            <a class="upvote {% upvoted oneliner %}"></a>
            <span class="count">{{ oneliner.score }}</span>
            <a class="downvote {% downvoted oneliner %}"></a>
        </div>
      {% endif %}

        <div class="flex-grow-1 ms-4">
        {% include 'oneliners/elements/oneliner_list_item_oneliner.html' %}
        </div>
    </div>
      {% else %}
        {% include 'oneliners/elements/oneliner_list_item_oneliner.html' %}
      {% endif %}
  </div>
</div>
