{% load upvote %}

<div class="card oneliner">
  <div class="card-body">
      <div class="d-flex align-items-start">
      {% if voting_enabled %}
        <div class="flex-shrink-0 upvotejs" id="{{ oneliner.pk }}" data-id="{{ oneliner.pk }}" data-user-id="{{ oneliner.user.id }}">
            <a class="upvote {% upvoted oneliner %}"></a>
            <span class="count">{{ oneliner.score }}</span>
            <a class="downvote {% downvoted oneliner %}"></a>
        </div>
      {% else %}
        <div class="flex-shrink-0 upvotejs" data-voting-disabled="true">
            <span class="count">{{ oneliner.score }}</span>
        </div>
      {% endif %}

        <div class="flex-grow-1 ms-4">
            <h2 class="h5">
                {% if not oneliner.is_published %}<span class="badge badge-warning">not published</span>{% endif %}
                <a href="{% url 'oneliner' oneliner.pk %}">{{ oneliner.summary|capfirst }}</a>
            </h2>
            <pre class="line">{{ oneliner.line }}</pre>

            <p class="author align-items-center">
                <span class="date">{{ oneliner.published_dt | date:"F j, Y" }}</span>
                &mdash;
                <a href="{% url 'profile_of' oneliner.user.pk %}">{{ oneliner.user.hackerprofile.get_display_name }}</a>
            </p>
        </div>
    </div>
  </div>
</div>
