{% if active_tags == 'active' %}
<ul class="nav nav-pills tags">
    {% for tag in tagcloud %}
        <li class="nav-item"><a class="nav-link" href="#">{{ tag.text }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<div class="oneliners">
    {% for oneliner in oneliners_page.object_list %}
        {% include 'oneliners/elements/oneliner_list_item.html' %}
    {% empty %}
        <div class="alert">No matching one-liners.</div>
    {% endfor %}
</div>

{% with oneliners_page as page %}
    {% include 'oneliners/elements/pagination.html' %}
{% endwith %}
