<form action="#" method="post" role="form">{% csrf_token %}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>
    <div class="oneliner">
        <h3>Summary of the one-liner<span class="required">*</span></h3>

        <div class="help-block">Use the <em>imperative mood</em>, as if giving a command or instruction,
            for example <em>"Extract the n-th field from a single line of comma separated values"</em>.</div>
        <div class="input">
            <div class="error">{{ form.summary.errors }}</div>
            <div class="summary">{{ form.summary }}</div>
        </div>

        <h3>The one-liner<span class="required">*</span></h3>

        <div class="help-block">
            Write in a way that's easy to read, follows best practices and common formatting style,
            and with only essential details.
            Use a space around <code>|</code>,
            a single space after <code>;</code>.
            Avoid unnecessary flags or trailing <code>;</code>.
        </div>
        <div class="input">
            <div class="error">{{ form.line.errors }}</div>
            <div class="input-group">
              <div class="input-group-text shell-symbol">$</div>
                {{ form.line }}
            </div>
        </div>

        <h3>Explanation<span class="required">*</span></h3>

        <div class="help-block">
            Explain how the one-liner works as if teaching a beginner.
            Try to explain every command, flag, and grammar structure.
            Mention if there are important trade-offs or common pitfalls.
            Sometimes it's useful to include example inputs and outputs.
            Use appropriate
            <a class="help help-markdown" href="{% url 'help_markdown' %}" target="_blank">markdown</a>
            for code text, code blocks, or blockquotes.
            Do not use HTML.
        </div>
        <div class="input">
            <div class="error">{{ form.explanation.errors }}</div>
            <div class="row">
                <div class="col-md-6 markdown">{{ form.explanation }}</div>
            </div>
        </div>

        <h3>Limitations (optional)</h3>

        <div class="help-block">
            Mention required non-standard tools such as <code>ffmpeg</code>, <code>shuf</code>,
            or if some features depend on GNU or BSD implementation,
            such as in some cases with <code>sed</code>, <code>awk</code> and others,
            or other portability issues across UNIX, Linux, BSD, MSYS flavors.
        </div>
        <div class="form-outline">
            <div class="error">{{ form.limitations.errors }}</div>
            {{ form.limitations }}
        </div>

        <h3>Published</h3>

        <div class="help-block">If checked, the one-liner will be visible in public listings.</div>
        <div class="input">
            <div class="error">{{ form.is_published.errors }}</div>
            <div class="form-check">
                {{ form.is_published }}
                <label class="form-check-label" for="id_is_published">Published</label>
            </div>
        </div>

        <div class="form-group">
            {% for action in form.actions %}
                <button class="btn {{ action.cssclass }}" type="submit" name="action" value="{{ action.name }}">
                    {{ action.name }}</button>
            {% endfor %}
            <a class="btn btn-default" href="{{ cancel_url }}">Cancel</a>
        </div>
    </div>
</form>
