{% extends "base.html" %}

{% block content %}

<h1>bashoneliners.com</h1>

<div class="alert-message block-message error">
    <p>The page you are trying to reach does not exist (404).</p>
    <p>Path: <strong>{{ request_path }}</strong></p>
    <p>If you think this is some kind of error, 
    please drop us an email at
    <a href="mailto:bashoneliners@lists.launchpad.net">bashoneliners@lists.launchpad.net</a>,
    along with anything you might have done that may have caused the error.
    </p>
</div>

<p><a href="/">Go back to the home page</a></p>

{% endblock %}
