{% extends "xhtml1-strict.html" %}

{% block javascript_src %}
	<script type="text/javascript" src="/media/js/bashoneliners.js"></script>
{% endblock javascript_src %}

{% block css %}
{% endblock css %}

{% block javascript %}
{% endblock javascript %}

{% block title %}bashoneliners.com{% endblock %}

{% block body %}

{% if searchform %}
<div id="searchbox">
    <form id="search-form" method="get" action="{% url bashoneliners.main.views.search %}">
	
	<div>
	    Search: {{ searchform.query }}
	    <span id="search-loading"></span>
	    <span id="search-errors" class="error"></span>
	</div>

    </form>
</div>
{% endif %}

<div id="nav">
    {% if user.is_authenticated %}
    <a href="{% url bashoneliners.main.views.profile %}"><span>{{ user.username }}</span></a> ;
    <a href="{% url bashoneliners.main.views.post %}"><span>Post a one-liner</span></a> ;
    <a href="{% url bashoneliners.main.views.logout %}"><span>Logout</span></a>
    {% else %}
    <a href="{% url bashoneliners.main.views.login %}"><span>Login / Sign up</span></a>
    {% endif %}
    <br/>
    <a href="/"><span>Home</span></a> ;
    <a href="{% url bashoneliners.main.views.mission %}"><span>Mission Statement</span></a> ;
    <a href="{% url bashoneliners.main.views.sourcecode %}"><span>Source code</span></a> ;
    <!--
    <a href="/main/top/50/"><span>top 50</span></a> ;
    -->
    <a href="{% url bashoneliners.main.views.index %}"><span>Latest 50</span></a> ;
    <a href="/feed/"><span>RSS</span></a>
</div>

<div class="hr"></div>

{% if not w3c %}
<div class="floatright plus1">
    {% include 'plusone.html' %}
</div>
{% endif %}

<div id="content">

    <h2>{% block pagetitle %}{% endblock %}</h2>

    {% block content %}{% endblock %}

</div>

<div class="clear"></div>

<div class="hr"></div>

<p class="validators"> 
    <a href="http://www.dreamhost.com/r.cgi?455568"><img alt="This site hosted by DreamHost. Unlimited storage and bandwidth for only $8.95" src="/media/images/dreamhost.gif" /></a> 
    <a href="http://www.dreamhost.com/green.cgi"><img alt="Green Web Hosting! This site hosted by DreamHost." src="/media/images/green1.gif" height="31" /></a> 
    <a href="http://validator.w3.org/check?uri=referer"><img src="/media/images/valid-xhtml10.png" alt="Valid XHTML 1.0 Strict" /></a> 
</p> 

<script type="text/javascript">
    <!--
    $(document).ready(function() {
	//$('#id_query').focus();

	{% block ready %}{% endblock %}
    });
    //-->
</script>

<div id="templates" class="hidden" >
    <span class="search-loading">
	<img src="/media/images/loading.gif" alt="" title="" />
    </span>
</div>

{% endblock body %}
